.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.main_body {
	/*width: 100%;
				height: 100%;*/
	background: url(image/1210-1_03.jpg) no-repeat 100%/100% center;
}

.public {
	margin-top: 30px;
}

.overflow_hidden {
	overflow: hidden;
}

.public.m_t_35 {
	margin-top: 35px;
}

.nav-left {
	display: none;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -694px;
	font-size: 16px;
	color: #333;
}

.nav-left-nav {
	width: 64px;
}

.clearfix,
.wrap {
	zoom: 1;
}

.nav-left-nav li {
	width: 64px;
	height: 60px;
	padding: 0 6px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	background: #f8f8f8;
	border-bottom: 1px solid #fff;
}

.nav-left-nav li:last-child {
	border-bottom: 1px solid #0094e4;
}

.nav-left-nav h3 {
	line-height: 60px;
	font-size: 16px;
	/*border-bottom: 1px solid #eee;*/
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

.nav-left-nav li.active,
.nav-left-nav li:hover {
	color: #fff;
	background: #0094e4;
	border-bottom: 1px solid #fff;
}


/*各模块搜索框*/

.searchbox {
	width: 462px;
	height: 330px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.lv-ban {
	position: relative;
	z-index: 3;
}

.lv_s_all {
	position: absolute;
	/*left: 50%;*/
	/*margin-left: -595px;*/
	/*top: 20px;*/
	/*width: 561px;*/
	width: 462px;
	min-height: 330px;
	z-index: 9;
	/*background-color: #39414c;*/
	/*background-color: rgba(60,87,105,0.8);*/
}

.lv_s_tab {
	float: left;
	width: 90px;
	height: 330px;
	overflow: hidden;
	position: relative;
	background-color: #39414c;
}

.lv_s_tab li {
	overflow: hidden;
	width: 89px;
	height: 66px;
	line-height: 66px;
	padding-left: 4px;
	border-top: 1px solid rgb(64, 74, 84);
	border-bottom: 1px solid rgb(40, 50, 60);
	text-align: center;
	/*font-family: "Arial","PingFang SC","Microsoft Yahei","SimSun",sans-serif;*/
	font-size: 12px;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.lv_s_tab li.active {
	width: 91px;
	padding-right: 4px;
	background-color: #fff;
	border-left: #008ada solid 3px;
	/*font-weight: bold;*/
	margin-top: -1px;
	border-bottom: none;
	color: #008ada;
	z-index: 1;
	background-color: rgba(255, 255, 255, 1);
	border-top: none;
}

.lv_s_t_li_di {
	padding: 15px 0;
	line-height: normal;
}

.lv_s_r {
	position: relative;
}

.lv_s_r {
	height: 330px;
	background: #fff;
	float: left;
	width: 441px;
	width: 372px;
	padding: 14px 30px;
}

.lv_s_table {
	position: relative;
	z-index: 1;
}

.lv_s_td {
	float: left;
	zoom: 1;
	position: relative;
}

.lv_s_table .ml10 {
	display: inline-block;
}

.lv_s_td {
	float: left;
	zoom: 1;
	position: relative;
}

.ml10 {
	margin-left: 10px !important;
}

.lv_s_t {
	height: 28px;
	line-height: 28px;
	padding-top: 6px;
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
}

.lv_s_city_all {
	width: 150px;
	height: 36px;
}

.lv_s_city_btn {
	width: 140px;
	padding: 0 10px;
	border: #ccc solid 1px;
	height: 34px;
	line-height: 34px;
	position: relative;
	cursor: pointer;
}

.lv_s_city {
	-webkit-box-shadow: 0px 1px 1px #ddd;
	box-shadow: 0px 1px 1px #ddd;
}

.lv_s_city {
	display: none;
	margin-top: -1px;
	width: 374px;
	background: #fff;
	padding: 0 12px 10px;
	border: #ddd solid 1px;
}

.lv_s_city_btn b {
	font-size: 14px;
	color: #333;
	font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
	font-weight: normal;
}

.lv_s_arrow {
	display: block;
	width: 9px;
	height: 5px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	background: url(//pics.lvjs.com.cn/img/v6/public/lv_search.png) no-repeat -355px 0px;
}

.lv_s_r .lv_s_city {
	position: absolute;
	left: 0;
}

.search-station-hot {
	padding: 0 14px;
	border-bottom: 1px solid #e3e3e3;
}

.search-station-hot h4 {
	color: #999;
	line-height: 26px;
	height: 26px;
	margin: 11px 0 2px 0;
	font-weight: normal;
}

.search-station-hot .list {
	color: #666;
	margin-bottom: 11px;
}

.search-station-hot .list a {
	color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 24px;
	line-height: 21px;
	float: left;
}

.lv_s_r .lv_s_city a {
	cursor: pointer;
}

.search-hotel-cities .nav-tabs,
.search-station-cities .nav-tabs {
	border-bottom: 1px solid #ddd;
	margin: 14px 15px 0 15px;
}

.search-station-cities li {
	display: block;
}

.search-hotel-cities .nav-tabs li,
.search-station-cities .nav-tabs li {
	cursor: pointer;
	font-size: 14px;
	color: #333;
	padding: 0 14px;
	line-height: 24px;
	float: left;
	border-bottom: 3px solid transparent;
	margin-bottom: -1px;
}

.search-hotel-cities .nav-tabs li.active,
.search-station-cities .nav-tabs li.active {
	position: relative;
	border-bottom-color: #e38;
	font-weight: bold;
	color: #e38;
}

.search-hotel-cities .tab-contents,
.search-station-cities .tab-contents {
	margin: 2px 15px 16px 15px;
}

.search-station-cities .search-station-cities-pane {
	display: none;
}

.search-station-cities-pane dl {
	line-height: 21px;
	margin-top: 11px;
}

.search-station-cities-pane dt {
	color: #e38;
	font-weight: bold;
	float: left;
	width: 22px;
	font-size: 14px;
}

.search-station-cities-pane dd {
	color: #666;
	float: left;
	width: 406px;
}

.search-station-cities-pane .city {
	float: left;
	margin-right: 24px;
	width: auto;
	padding-left: 0;
	border: none;
	height: auto;
	display: block;
	position: static;
	z-index: auto;
	color: #666;
	line-height: 21px;
}

.lv_s_r .lv_s_city a {
	cursor: pointer;
}

.lv_s_input,
.lv_s_time,
.lv_s_hotel {
	border: #ccc solid 1px;
	padding: 6px 10px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #bbb;
	font-family: "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
	outline: none;
}

.w_285 {
	width: 285px;
}

.w_300 {
	width: 300px;
}

.w_310 {
	width: 310px;
}

.lv_s_search {
	clear: both;
	margin: 15px 11px 15px;
	overflow: hidden;
	*zoom: 1;
}

.lv_s_search_quality_box {
	position: relative;
}

.lv_s_search_btn,
.ft-search-btn,
.tt-search-btn,
.ft-sale-btn,
.ifs-submit {
	cursor: pointer;
	float: right;
	margin-right: 1px;
	background: #008ada;
	width: 90px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	border-radius: 3px;
	/*font-family: "Arial","PingFang SC","Microsoft Yahei","SimSun",sans-serif;*/
	font-size: 12px;
	text-align: center;
}

.lv_s_hot {
	border-top: #ddd dotted 1px;
	max-height: 185px;
	display: none;
}

.lv_s_hot {
	padding-top: 15px;
}

.lv_s_hot dl {
	margin-top: 15px;
	padding-left: 62px;
	position: relative;
	overflow: hidden;
}

.lv_s_hot dl {
	margin-top: 0;
}

.home .lv_s_hot dl {
	max-height: 48px;
	overflow: hidden;
}

.lv_s_hot dt {
	color: #999;
	width: 62px;
	position: absolute;
	left: 0;
	top: 0;
}

.lv_s_hot dt {
	font-weight: bold;
	color: #333;
}

.lv_s_hot dd {
	overflow: hidden;
}

.lv_s_hot dd {
	margin-left: -9px;
}

.lv_s_hot dd a {
	display: inline-block;
	color: #333;
	margin: 0 15px 2px 0;
}

.lv_s_hot dd a {
	padding: 0 9px;
	height: 12px;
	line-height: 12px;
	vertical-align: top;
	border-left: 1px solid #ccc;
	margin: 5px 0 7px -1px;
}

.lv_s_hot dd a {
	color: #666;
}

.lv_s_hot dd .hot {
	color: #008ada;
}

.panicBuying {
	position: relative;
	top: 0;
	right: 0;
	margin-left: 488px;
}

.public-tit {
	/*box-sizing: content-box!important;
    			background-clip: content-box!important;*/
	position: relative;
	height: 30px;
	padding-bottom: 8px;
	/*margin-bottom: 8px;*/
	border-bottom: 2px solid #ddd;
	z-index: 2;
}

.public-sub {
	position: absolute;
	left: 229px;
	bottom: 0;
	height: 30px;
	line-height: 24px;
	color: #666;
}

.panicBuying .public-sub {
	left: 0;
}

.panicBuying .public-sub {
	height: 40px;
}

.public-sub li {
	position: relative;
	display: inline-block;
	float: left;
	height: 30px;
	margin-right: 16px;
	padding: 0 3px;
	font-size: 12px;
	cursor: pointer;
	background: #fff;
	margin-bottom: -2px;
}

.panicBuying .public-sub li {
	height: 40px;
	margin-right: 21px;
	font-size: 20px;
	line-height: 40px;
	color: #333;
}

.panicBuying .public-sub li.active {
	height: 42px;
}

.public-sub li.active {
	height: 32px;
	border-bottom: 2px solid #008ada;
}

.public-sub .syicon-arrow {
	position: absolute;
	bottom: -2px;
	left: 50%;
	display: none;
	/*margin-left: -10px;*/
}

.public-sub li.active .syicon-arrow {
	display: block;
}

.panicBuying-hot {
	position: absolute;
	top: -18px;
	left: 63px;
}

.pro {
	margin: 20px 0 20px;
	/*width: 948px;*/
	width: auto;
	position: relative;
	overflow: hidden;
}

.panicBuying .pro {
	width: 100%;
	height: 260px;
	margin-left: 0;
}

.pro ul {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	/*width: 970px;*/
}

.panicBuying .pro ul {
	width: 1220px;
	height: 260px;
}

.pro li {
	float: left;
	margin-right: 20px;
	width: 224px;
	height: 252px;
	margin-bottom: 11px;
}

.panicBuying .pro li {
	height: 258px;
	width: 224px;
	margin-bottom: 0;
	/*border: 1px solid #ddd;*/
}

.panicBuying .pro ul li:hover {
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.pro ul li:hover {
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.pro li a {
	position: relative;
	display: block;
	padding-top: 150px;
}

.pro li img {
	position: absolute;
	left: 0;
	top: 0;
	background: url(image/tupic-224x170.jpg) no-repeat center center #f6f6f6;
}

.panicBuying .pro img {
	/*margin: -1px 0 0 -1px;*/
}

.pro-info {
	padding: 0 5px;
	display: block;
}

.js_proList .pro-info {
	margin-top: 38px;
}

.panicBuying .pro-info {
	padding: 0;
}

.pro-tit {
	margin: 7px 0 5px;
	font-size: 20px;
	color: #333;
	/*height: 35px;*/
	line-height: 18px;
	overflow: hidden;
}


/*.panicBuying .pro-tit {
			    padding: 0 10px;
			    margin: 7px 0;
			    height: 36px;
			}*/

.pro-price {
	position: relative;
	padding-top: 2px;
	line-height: 30px;
	color: #999;
}

.panicBuying .pro-price {
	margin-top: 2px;
	padding: 9px 10px 0;
	/*border-top: 1px dotted #ccc;*/
}

.pro-tag {
	color: #390;
}

.pro-price dfn {
	padding-right: 3px;
	/*color: #f60;
			    font-size: 20px;
			    font-weight: bold;*/
	font-size: 20px;
	color: #ff6900;
	font-style: normal;
}

.pro-price dfn i {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
}

.pro-price .buyBtn {
	position: absolute;
	right: 10px;
	top: 14px;
	width: 75px;
	display: inline-block;
	height: 30px;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	background: #ee5555;
	color: #fff;
	font-size: 14px;
}

.pro li .pro-price .buyBtn:hover {
	background: #ff5555;
}

.index-adsense-bar>img:last-child {
	float: right;
}

.public-tit h3 {
	position: absolute;
	top: -6px;
	display: inline;
	font-weight: normal;
	height: 36px;
	border-bottom: 2px solid #008ada;
	/*margin-top: 20px;*/
	margin-bottom: 10px;
}

.public-tit h3 strong {
	font-size: 20px;
	color: #333;
	font-weight: normal;
	line-height: 30px;
}

.public-sub-specialitem {
	width: 65px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background: #008ada;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: 12px;
	left: 309px;
}

.public-sub-specialitem:before,
.public-sub-specialitem:after {
	position: absolute;
	right: -12px;
	top: 10px;
	display: inline-block;
	content: "";
	width: 12px;
	height: 3px;
	background: #008ada;
}

.public-sub-specialitem:after {
	height: 1px;
	top: 15px;
}

.public-sub.public-sub-specialul {
	left: 387px;
	border: 1px solid #ddd;
}

.public-sub.public-sub-specialul li {
	border-right: 1px solid #ccc;
	margin: 5px auto;
	height: 24px;
	line-height: 20px;
	padding: 0 10px;
}

.public-sub.public-sub-specialul li.active {
	border-bottom: none;
	color: #008ada;
}

.public-sub.public-sub-specialul li:last-child {
	border-right: none;
}

.fold {}

.fold_wrap {
	/*width: 1200px;*/
	overflow: hidden;
	/*margin: 0 auto;*/
}

.fold_wrap ul {
	/*width: 1200px;*/
	height: 370px;
	/*margin: 0 auto;*/
	overflow: hidden;
}

.fold_wrap ul li {
	float: left;
	width: 249px;
	height: 370px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: width .5s;
	transition: width .5s;
	/*background: pink;*/
}

.fold_wrap ul li .mask_b {
	position: absolute;
	overflow: hidden;
	/*width: 100%;
			    height: 100%;*/
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .3);
}

.fold_wrap ul li .mask_b h4 {
	color: #fff;
	width: 30px;
	height: 140px;
	letter-spacing: 8px;
	margin: 0 auto;
	display: block;
	font-size: 18px position: relative;
	padding: 30px 0 0 0;
	background: rgba(0, 0, 0, 0.4);
}

.fold_wrap ul li .mask_yen_box {
	position: absolute;
	overflow: hidden;
	/*width: 100%;
			    height: 100%;*/
	right: 0;
	bottom: 0;
	/*background: rgba(0,0,0,.3);*/
}

.pic_auto {
	width: 100%;
	height: 100%;
}

.pic_auto1 {
	background: url(../../views/home/image/450x370.jpg) no-repeat center 0;
}

.pic_auto2 {
	background: url(../../views/home/image/249x370.jpg) no-repeat center 0;
}

.pic_auto3 {
	background: url(../../views/home/image/249x370.jpg) no-repeat center 0;
}

.pic_auto4 {
	background: url(../../views/home/image/249x370.jpg) no-repeat center 0;
}

.fold_wrap ul li .adv_intro {
	width: 92%;
	height: 40px;
	padding: 5px 4%;
	position: absolute;
	left: 0;
	bottom: -50px;
	background: #37D;
	color: #FFF;
	overflow: hidden;
}

.fold_wrap ul li.active {
	width: 450px;
}

.public .mod {
	min-height: 210px;
}

.mod .entrance {
	position: relative;
	float: left;
	display: inline;
	width: 187px;
	/*height: 310px;*/
	/*padding-bottom: 15px;*/
	/*padding: 0 20px 15px;*/
	overflow: hidden;
	margin-top: 22px;
}

.entrance dl {
	margin: 0px 0 7px 0;
	overflow: hidden;
	position: relative;
}

.entrance .keyword-short {
	padding: 0 20px 15px;
}

.entrance .keyword-short:last-child {
	border-top: 1px solid #999;
	padding-bottom: 0px;
	padding-top: 30px;
	margin-bottom: 0;
}

.entrance dt {
	color: #333;
	font-size: 12px;
	margin-bottom: 9px;
	/*padding: 4px 0 0 0;*/
}

.entrance dd {
	margin-left: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	zoom: 1;
}

.entrance .entrance-item {
	position: relative;
	float: left;
	display: block;
	border-right: 1px solid #ececec;
	padding: 0 10px;
	line-height: 18px;
	height: 18px;
	margin: 7px 0;
}

.entrance .entrance-item:last-child {
	border-right: none;
}

.keyword-short a {
	display: inline-block;
	max-width: 72px;
}

.mod .entrance a {
	color: #666;
}

.icon_hot {
	width: 11px;
	height: 11px;
	background-position: -16px -32px;
}

.entrance .entrance-item .icon_hot {
	position: absolute;
	top: -6px;
	right: 3px;
}

.product.pro {
	margin-top: 37px;
}

.public-r-adsense {
	position: absolute;
	right: 0;
	top: 0;
}

.public-child-left .public-tit {
	width: 956px;
}

.public-child-left .public .mod {
	width: 956px;
}

.public-child-left .pro {
	width: 712px;
}

.public-child-left .pro ul li:last-child {
	margin-right: 0px;
}


/*酒店住宿*/

.hotel-accommodation .hotel-accommodation-body {
	margin-bottom: 20px;
	/*width: calc(100% - 227px);*/
	/*width: 973px\0;*/
	display: inline-block;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item {
	position: relative;
	float: left;
	/*width: 434px;
			    height: 332px;*/
	width: 469px;
	/*height: 401px;*/
	overflow: hidden;
	/*margin-left: 16px;*/
}

.hotel-accommodation .hotel-accommodation-body>.hotel-accommodation-item {
	/*background: #F3F3F3;
				background: -webkit-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
			    background: -o-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
			    background: -moz-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
			    background: linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);*/
}

.hotel-accommodation .hotel-accommodation-body>.hotel-accommodation-item .pro-info {
	padding: 0 13px 10px;
	margin-top: 15px;
	background: -webkit-linear-gradient(#fff 20%, #f7f5f5 65%, #f1f1f1 100%);
	background: -o-linear-gradient(#fff 20%, #f7f5f5 65%, #f1f1f1 100%);
	background: -moz-linear-gradient(#fff 20%, #f7f5f5 65%, #f1f1f1 100%);
	background: linear-gradient(#fff 20%, #FBFBFB 50%, #F3F3F3 100%);
}

.hotel-accommodation .hotel-accommodation-body>.hotel-accommodation-item .pro-info .pro-tit {
	font-size: 20px;
	color: #333;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-img {
	position: relative;
	left: 0;
	top: 0;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-img a {
	display: block;
	position: relative;
}

.hotel-accommodation-img-top {
	width: 65px;
	height: 22px;
	line-height: 22px;
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, .6);
	top: 0;
	left: 0;
	text-align: center;
	border-bottom-right-radius: 7px;
}

.hotel-accommodation-img-bottom {
	width: 100%;
	height: 43px;
	line-height: 43px;
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	padding: 0 10px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item a img {
	/*width: 448px;
			    height: 332px;*/
	/*width: 469px;
    			height: 401px;*/
	/*margin-left: -7px;*/
	display: block;
	width: 469px;
	height: 401px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words {
	display: block;
	position: absolute;
	top: 294px;
	padding: 10px 0 6px;
	text-indent: 10px;
	font-size: 14px;
	font-weight: 700;
	width: 100%;
	background: url(//simg4.qunarzz.com/home/tmp/travel_bg2.png) repeat-x left top;
	_background-color: #000;
	_filter: alpha(opacity=80);
	background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0, 0, 0, 0.9)));
	color: #fff;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-title {
	margin-bottom: 0;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo {
	font-size: 12px;
	line-height: 1.5em;
	color: #aaa;
	font-weight: normal;
	padding: 0 10px;
	text-indent: 0;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-headImg {
	float: left;
	margin: 7px 5px 0 10px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-headImg img {
	height: 40px;
	width: 40px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info {
	overflow: hidden;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p {
	padding-top: 7px;
	cursor: pointer;
	height: 14px;
	line-height: 14px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p .hotel-accommodation-item-nickName {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 162px;
	height: 14px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p span,
.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p i {
	vertical-align: middle;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p span {
	padding: 0 5px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right {
	/*float: left;*/
	float: right;
	width: calc(100% - 489px);
	/*width: 523px\0;*/
	margin-bottom: -15px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item {
	float: left;
	margin-bottom: 15px;
	position: relative;
	/*width: 241px;
			    height: 158px;*/
	width: 224px;
	height: 170px;
	height: 240px;
	overflow: hidden;
	margin-left: 18px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item:first-child {
	margin-left: 0px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item:nth-child(3n+1) {
	margin-left: 0px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item:hover {
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item a img {
	/*width: 256px;
			    height: 158px;*/
	width: 224px;
	height: 170px;
	/*margin-left: -8px;*/
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item .hotel-accommodation-item-words {
	top: 120px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-title {
	margin-bottom: 0;
}


/*.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item .hotel-accommodation-item-words .hotel-accommodation-item-memo .hotel-accommodation-item-Info p .hotel-accommodation-item-nickName {
			    max-width: 62px;
			}*/

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item-right .hotel-accommodation-item .pro-info {
	margin-top: 20px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .pro-info .pro-price {
	color: #666;
	font-size: 14px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .pro-info .pro-price dfn {
	font-size: 24px;
}

.hotel-accommodation .hotel-accommodation-body .hotel-accommodation-item .pro-info .pro-price span {
	color: #999;
	font-size: 12px;
}


/*地域馆*/

.regionVenues .public-sub {
	left: 165px;
}

.regionVenues .public-sub li {
	margin-right: 26px;
}

.regionVenues-content {
	min-height: 420px;
	height: 420px;
}

.regionVenues-body {
	min-height: 420px;
}

.regionVenues-item-left {
	width: 711px;
	width: calc(100% - 489px);
	height: 420px;
	display: inline-block;
}

.regionVenues-body .inner-tab-panel {
	height: 420px;
}

.inner-tab-panel {
	position: relative;
	/*padding-right: 220px;
			    margin-left: -10px;*/
}

.regionVenues-item-right {
	width: 469px;
	height: 420px;
	float: right;
}

.product-item {
	position: relative;
	width: 220px;
	height: 160px;
	float: left;
	margin: 0 0 10px 10px;
	overflow: hidden;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	_display: inline;
	_zoom: 1;
}

.regionVenues-item-left .product-item_complex {
	position: relative;
	width: 345px;
	height: 200px;
	margin: 0 0 10px 10px;
}

.regionVenues-item-right .product-item_complex {
	position: relative;
	width: 469px;
	height: 420px;
}

.regionVenues-body .product-item {
	margin: 0 20px 20px 0;
}

.regionVenues-body .product-item:nth-child(2n) {
	margin-right: 0px;
}

.product-item a {
	text-decoration: none;
	color: #666;
}

.product-item>a {
	display: block;
}

.item-thumbnail {
	position: relative;
	width: 345px;
	height: 200px;
	margin-bottom: 3px;
	overflow: hidden;
}

.product-item_complex .item-thumbnail {
	height: 200px;
}

.regionVenues-item-right .product-item_complex .item-thumbnail {
	width: 469px;
	height: 420px;
}

.regionVenues-item-left .item-thumbnail img {
	transition: transform 0.3s ease 0s;
	width: 345px;
	height: 200px;
}

.item-name {
	position: relative;
	height: 45px;
	line-height: 45px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}

.product-item_complex .item-name {
	/*height: auto;*/
	text-align: center;
	/*font: 700 18px/1.2 "Microsoft yahei";*/
	color: #fff;
	margin-bottom: 3px;
	font-size: 24px;
}

.product-item_complex .item-name,
.product-item_complex .item-num,
.product-item_complex .price_info,
.product-item_complex dfn {
	color: #fff;
}

.product-item_complex .item-num {
	white-space: nowrap;
	overflow: hidden;
}

.item-info {
	position: relative;
	height: 35px;
	line-height: 35px;
	text-align: right;
	padding: 0 5px;
}

.product-item_complex .item-info {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 3px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.product-item_complex .price {
	position: relative;
	float: right;
	/*font: 22px/1.5 tahoma;*/
	color: #f60;
	float: none;
}

.product-item_complex .item-msg {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: -56px 0 0 -56px;
	padding: 20px 10px;
	width: 136px;
	height: 136px;
	overflow: hidden;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	transition: all .3s;
}

.product-item_complex .iefix-bg {
	top: 50%;
	left: 50%;
	width: 92px;
	height: 72px;
	padding: 20px 10px;
	margin: -56px 0 0 -56px;
}

.fixed-customs {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 30px;
	position: absolute;
	left: 0;
	top: 100%;
	ion: top 1s;
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-o-transition: top 1s;
	z-index: 5;
}

.customs-text {
	width: 100%;
	/*padding-left: 20px;*/
	font-family: PingFang-SC-Medium;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color: #ffffff;
}

.customs-text h4 {
	margin-top: 0px;
	color: #00eeff;
	font-size: 20px;
}

.customs-text p {
	padding-top: 10px;
	border-top: 1px solid #08b1ac;
}

.product-item.product-item_complex:hover .fixed-customs {
	top: 0;
}

.product-item.product-item_complex:hover .item-msg {
	display: none;
}


/* 微信弹层 */

.wx-mfw-pop {
	width: 420px;
	height: 285px;
	padding-top: 45px;
	text-align: center;
	font-size: 16px;
	color: #666;
	line-height: 1.8em;
}

.wx-mfw-pop img {
	margin-top: 10px;
}


/*旅游攻略*/

.travel-guide .public-tit {
	padding-left: 13px;
}

.travel-guide .public-sub {
	left: 366px;
}

.mfw-aside {
	float: left;
	width: 345px;
}

.asidebox {
	margin-bottom: 30px;
}

.asidebox-hd {
	margin-top: 6px;
	height: 41px;
	line-height: 20px;
	/*margin-bottom: 21px;*/
	background: -webkit-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
	/* Safari 5.1 - 6.0*/
	background: -o-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#fff 30%, #f7f5f5 76%, #f1f1f1 100%);
	/* 标准的语法 */
}

.asidebox-hd .hd-title {
	float: left;
	color: #008ada;
	font-size: 16px;
	font-weight: normal;
	margin-left: 13px;
}

.asidebox-hd .hd-title a,
.asidebox-hd .hd-title a:hover {
	color: #008ada;
	font-size: 16px;
	text-decoration: none;
}

.asidebox-hd .hd-right {
	float: right;
	color: #666;
	font-size: 12px;
}

.asidebox-hd .hd-right:hover {
	color: #008ada;
}

.box-traveller .asidebox-bd {
	width: 345px;
	height: 246px;
	height: 365px;
	overflow: hidden;
	position: relative;
}

.box-traveller .slide-ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 400%;
	height: 100%;
}

.box-traveller .slide-ul li {
	float: left;
	width: 25%;
	position: relative;
}

.box-traveller .image {
	height: 199px;
	/*height: 140px;*/
	overflow: hidden;
}

.box-traveller .image img {
	width: 100%;
	height: 199px;
}

.box-traveller h3 {
	margin: 25px 15px 0;
	/*width: 260px;*/
	height: 26px;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	line-height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.box-traveller h3 a {
	color: #333;
}

.box-traveller .asidebox-bd p {
	/*height: 60px;*/
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
	color: #666;
	margin: 17px 15px 0;
}

.box-traveller .slide-ol {
	width: 100%;
	height: 26px;
	line-height: 26px;
	position: absolute;
	top: 173px;
	/* right: 14px; */
	/* top: 120px; */
	/*bottom: 47px;*/
	background: rgba(0, 0, 0, .5);
	text-align: right;
}

.box-traveller .slide-ol li {
	position: relative;
	top: 8px;
	/*left: 222px;*/
	right: 23px;
	float: right;
	display: inline;
	margin-left: 8px;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
}

.box-traveller .slide-ol .active,
.box-traveller .slide-ol li:hover {
	background-color: #f35a42;
}

.gonglve-item {
	margin-bottom: 10px;
}

.gonglve-item .img {
	position: relative;
	height: 140px;
	margin-bottom: 10px;
}

.gonglve-item .mark {
	position: absolute;
	left: 0;
	top: 7px;
	padding: 0 6px;
	color: #fff;
	line-height: 24px;
	background-color: #ff6262;
	font-size: 12px;
}

.gonglve-item .mark:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	border-top: 12px solid #ff6262;
	border-bottom: 12px solid #ff6262;
	border-right: 5px dashed transparent;
}

.gonglve-item h3 {
	margin: 10px 15px 5px;
	width: 260px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.box-gonglve h3 a {
	color: #333;
}

.gonglve-item p {
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
	color: #666;
	margin: 17px 15px 0;
}

.mfw-wrapper {
	float: right;
	width: 835px;
}

.tn-item {
	padding: 15px 0;
	margin: 15px 0;
	/*height: 150px;*/
	padding: 0 0px 25px;
	margin: 0 0px 0;
}

.tn-image {
	float: left;
	width: 223px;
	height: 170px;
	position: relative;
}

.tn-image img {
	width: 223px;
	height: 170px;
}

.tn-wrapper {
	float: right;
	width: 567px;
	min-height: 170px;
	margin-right: 20px;
}

.tn-item dl {
	min-height: 128px;
}

.tn-item dt {
	height: 26px;
	margin-bottom: 22px;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 26px;
}

.tn-item dt a {
	/*width: 420px;*/
	height: 26px;
	display: block;
	color: #333;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tn-item dd {
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
}

.tn-item dd a {
	color: #999;
	font-size: 12px;
	line-height: 21px;
}

.tn-extra {
	height: 36px;
	overflow: hidden;
	line-height: 36px;
	margin-top: 5px;
}

.tn-extra .tn-ding {
	float: right;
	color: #f35e42;
	font-size: 16px;
	*width: 100px;
	text-align: right;
}

.tn-extra span {
	display: inline-block;
}

.tn-extra .btn-ding {
	display: inline-block;
	float: right;
	margin-left: 8px;
	width: 38px;
	height: 33px;
	/*background-position: -60px 0!important;*/
	overflow: hidden;
	background: url(image/index-zx-icon-3.png) no-repeat;
}

.tn-extra .tn-ding em {
	font-style: normal;
}

.tn-extra .tn-place {
	margin-right: 21px;
}

.tn-extra .tn-place i {
	float: left;
	margin: 11px 7px 0 0;
	width: 14px;
	height: 16px;
	/*background-position: 0 -50px!important;*/
	overflow: hidden;
	background: url(image/index-zx-icon-1.png) no-repeat;
}

.tn-write .btn-add i,
.tn-extra .btn-ding,
.tn-extra .tn-place i,
.tn-extra .tn-nums i {
	/*background: url(/images/index-sprites9.png) no-repeat;*/
}

.tn-extra .tn-place a {
	color: #666;
}

.tn-extra .tn-user {
	margin-right: 27px;
}

.tn-extra .tn-user img {
	margin-right: 12px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	vertical-align: -13px;
	*vertical-align: middle;
}

.tn-extra .tn-nums {
	font-size: 12px;
	color: #666;
}

.tn-extra .tn-nums i {
	float: left;
	margin: 12px 5px 0 0;
	width: 18px;
	height: 14px;
	/*background-position: -30px -50px!important;*/
	background: url(image/index-zx-icon-2.png) no-repeat;
}

.note-author-info {
	position: relative;
	z-index: 2;
	height: 56px;
}

.note-author-info img {
	/*position: absolute;
				top: 0;
				left: 0;*/
}

.note-author-info>span {
	color: #666666;
	font-size: 12px;
	margin-left: 86px;
}

.note-author-head-photo {
	padding: 4px;
	margin-top: -20px;
	margin: -25px 25px;
	background: #fff;
	border-radius: 100%;
	width: 56px;
	height: 56px;
	/* width: 100%; */
}

#banner-con-gloable {
	display: block;
	position: fixed;
	bottom: 0;
	left: -100%;
	z-index: 110;
	width: 100%;
	height: 179px;
	height: 235px;
	overflow-x: hidden;
	left: 0px;
}

#banner-con-gloable .banner-btn-con {
	width: 100%;
	/*height: 162px;*/
	/*background: #0C151E;*/
	min-height: 162px;
	/*height: 235px;*/
	height: 235px;
	max-height: 235px;
	/*background: #192746;*/
	opacity: .8;
	position: absolute;
	bottom: 0;
	background: url(../../views/home/image/index-bottom-advertisement-bg.png) no-repeat center;
}

#banner-con-gloable .banner-btn-con .close-btn {
	position: absolute;
	/*right: 35px;*/
	right: 70px;
	top: 35px;
	z-index: 120;
	height: 24px;
	width: 24px;
	cursor: pointer;
}

#banner-con-gloable .banner-image-con {
	position: absolute;
	right: 50%;
	bottom: 0;
	height: 100%;
	width: 1162px;
	margin-right: -581px;
}

#float-pannel-gloable {
	padding-left: 0;
	padding-bottom: 30px;
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 110;
	left: -230px;
}