
    nav {
        color: #fff;
        background: #0b1640;
        opacity: 0.8;
        height: 30px;
        position: relative;
    }
    .titles{
        width: 100%;
        background: #fff;
        height: 102px;
    }
    .titles>div{
        width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    .kuang-ipt {
       height: 300px;
    }
    .title-logo>img{
        margin-top: 24px;
    }
    .kuang-ipt input::placeholder{
        font-size: 12px;
    }
    .title-logo  input{
        width: 406px;
         height: 33px;
        margin-top: 30px;
        margin-left: 104px;
        padding-left: 12px;
        border: solid 2px #1b60a0;
       
    }
    .title-logo  input::placeholder{
        color: #999;
    }
    .title-logo  span{
        display: inline-block;
        margin-top: 30px;
        width: 70px;
        height: 37px;
        background:#1b60a0 ;
    }
    .title-logo  span>img{
        margin-top: 10px;
        margin-left: 24px;
    
    }
    .password_content{
        background: #fff;
        width: 1200px;
        margin:  0 auto;
        margin-top:27px ;
    }
    .password_content>p {
        margin:0 20px;
        border-bottom: #f5f5f5 solid 2px;
        
    }
    .password_content>p span{
        display: inline-block;
        color: #333;
        font-size: 20px;
        margin-top: 31px;
        font-weight: 500;
        border-bottom: solid 2px #1b60a0;
    }
    .login-img{
        border-bottom: #f5f5f5 solid 2px;
        margin: 0 20px;
    
    }
    .login-img>img{
        display: inline-block;
        margin: 40px 222px;
    }
    .title{
        color: #666;
        font-weight: 500;
    }
    .kuang-ipt{
        width: 400px;
        margin: 0 auto;
    }
    .kuang-ipt li:last-of-type {
    
        padding-top: 19px;
    }
    .kuang-ipt li:nth-of-type(1) input{
        padding-left: 10px;
        padding-top: 0;
        width: 282px;
        border: solid 1px #dbdbdb;
        height: 33px;
    }
    .kuang-ipt li:nth-of-type(2) input{
        padding-left: 10px;
        border: solid 1px #dbdbdb;
        width: 82px;
        height: 33px;
    }
    .Submission button:first-of-type{
        margin-top: 20px;
            border: solid 1px transparent;
            background: #1b60a0;
            color: #fff;
            font-size: 14px;
            font-family: 思源黑体;
    
    }
    .zhucema{
        height: 33px;
        display: inline-block;
    }
    .zhucema img{
        /* display: inline-block; */
        height: 30px;
    }
    .huan{
        display: inline-block;
        width: 100px;
        font-size: 12px;
        margin-left: 10px;
        color: #999;
    }
    .huan a{
        color: red;
    }
    .tell_Verification {
        font-size: 14px;
        color: #333;
    }

    .Click_verification {
        display: inline-block;
        line-height: 2.5;
        margin-left: 15px;
        font-size: 12px;
        text-align: center;
        height: 30px;
        width: 110px;
        cursor: pointer;
        border: solid 1px #dbdbdb;
        border-radius: 5px;
    }
  .Explain{
      width: 1200px;
      /* margin: 0 auto; */
      padding-left: 60px;
      padding-bottom: 20px;
      margin:60px 20px 0 20px;
      border-top: solid 2px #f5f5f5;
  }
  .Explain p{
      color: #999;
      line-height: 2;
      font-size: 13px;
  }