<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css"/>
		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/common/public.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/index/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/specialty/specialty-list.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/pay-order/cart-confirm.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="">
			<section class="nav-header">
				<header class="bgfff">
					<div class="content-width">
						<div class="inline-block">
							<h1>
								<a href="/"><img id="shouyouxjLogo" src="../../img/place-order/xd-pic-slogo.png"/></a>
							</h1>
						</div>
						<div class="cart_step cart_step_1">
							<div></div>
							<ul>
								<li >选择商品</li>
								<li class="active">填写核对订单信息</li>
								<li>成功提交订单</li>
							</ul>
						</div>
						
						<!--<div class="fr" style="display: none;">
							<div class="">
								<img src="../../img/place-order/xd-lc_pic_2.png"/>
							</div>
							<div class="tc ">
								<span class="">选择商品</span>
								<span>填写核对订单信息</span>
								<span>成功提交订单</span>
							</div>
						</div>-->
					</div>
				</header>
			</section>
			<div class="state-box">
				<div class="state-bar content-width">
					支付订单
				</div>
			</div>
		</div>
		
		<div id="" >  <!--style="display: none;"-->
			<div class="content-int">
				<div class="content-width flex" >
					<!--以下为左右-->
					<div class="g-listbox-l m-pdlist bgfff">
						<div class="bgfff">
							<div class="cart_bt">
								确认订单信息
							</div>
							<div class="cart-table-responsive">
								<div class="table-responsive">
									<div class="cart-table-tit" style="display: none;">
										<div class="thead">
											<ul class="tr">
												<li width="47%">商品信息</li>
												<li width="17%">单价（元）</li>
												<li width="20%">数量</li>
												<li>金额（元）</li>
											</ul>
										</div>
									</div>
									<table class="cart-table-tit">
										<thead>
											<tr>
												<th width="47%">商品信息</th>
												<th width="17%">单价（元）</th>
												<th width="20%">数量</th>
												<th>金额（元）</th>
											</tr>
										</thead>
									</table>
									<div id="storeOrder_1c24daaa0beb499282d19a3df3c2c1ac" name="1c24daaa0beb499282d19a3df3c2c1ac">
										<input type="hidden" id="storeUuid" value="1c24daaa0beb499282d19a3df3c2c1ac">
										<input type="hidden" id="cartUuid_1c24daaa0beb499282d19a3df3c2c1ac" value="0f1cfc430c394a7dac37e4d7e05f6ead">
										<span id="contrallnum">
											<input type="hidden" name="sku_1c24daaa0beb499282d19a3df3c2c1ac" value="0000369759">
											<span class="select-box clearfix f-fl" id="contrallnum"></span>		
										</span>
										<div class="cart-table-box">
											<table class="cart-table y_checktable">
												<tbody class="r_tz">
													<!-- 零售商品 -->
													<tr >
														<td width="47%" class="y_firsttd">
															<div class="pic">
																<a href="/front/productDetail?skuNo=0000369759" target="_blank">
																</a>
																<a href="/front/productDetail?skuNo=0000369759" target="_blank">
																	<img src="../../img/details/xq_ri_pic_129x70.jpg" alt="">
																</a>
															</div>
															<div class="name f12">
																<a href="/front/productDetail?skuNo=0000369759" target="_blank">胡拉羊蹄子（大份）</a>
																<span class="sx">
																	<span class="y_pdsta">餐饮：小吃</span>
																</span>
															</div>
															<!-- 循环赠品商品 -->
										
															<!-- 循环赠品优惠券 -->
														</td>
														<td width="17%" class="price">
															<span class="c333">¥318.00 </span>
															<input type="hidden" name="productCartDetailUuid_0000369759" value="">
															<input type="hidden" name="productNowPrice_0000369759" value="620.1">
															<input type="hidden" id="productBasePrice_1" name="productBasePrice" value="318.0">
															<input type="hidden" name="productMarketPrice_0000369759" value="398.0">
															<input type="hidden" id="productUuid" name="productUuid" value="">
															<input type="hidden" id="nowbuynum1" name="productBuyNum" value="2">
															<input type="hidden" name="detailNowPromotionUuid" value="">
															<input type="hidden" name="productType" value="01">
														</td>
														<td width="20%">
															<span class="y_saleleng" id="stockSpan_">
																<div class="reduceStockDiv">
																	<a href="JavaScript:return false;" style="opacity: 0.2;" id="reduceStockDisable" class="decrement">-</a>
																</div>
																<input type="text" id="stock" value="1" readonly="readonly" oldvalue="1">
																<input type="hidden" id="stockNow" value="7">
																<div class="addStockDiv">
																	<a href="javascript:return false;" style="opacity: 0.2 ;" id="addStockDisable" class="increment">+</a>
																</div>
															</span>
														</td>
														<td class="y_lasttd">
															<span id="money" class=" f_size14">¥620.10 </span>
															<input type="hidden" name="productPrice_0000369759" value="620.1">
														</td>
													</tr>
													<tr style="display: none;">
														<td colspan="2" rowspan="2" class="text_l td_line">
															<dl class="y_message">
																<dt class="padd-top">给卖家留言：</dt>
																<dd>
																	<input type="text" name="storeNote1c24daaa0beb499282d19a3df3c2c1ac" maxlength="200" class="form-control" placeholder="选填：对本次交易的说明">
																</dd>
															</dl>
														</td>
														<td colspan="3" align="left" class="cart_ztBox">
															<input type="hidden" id="offlineCouponReduceMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="offlineCouponReduceMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="15.9">
															<span class="y_mb10">
																		红包抵扣：
																<b class="item-price-special" id="redmoney">
																	-￥15.90
																</b>
															</span>
														</td>
													</tr>
													<tr class="text_l" style="display: none;">
														<td colspan="3" align="left" class="cart_ztBox">
															<input type="hidden" name="chooseCod_1c24daaa0beb499282d19a3df3c2c1ac" id="chooseCod_1c24daaa0beb499282d19a3df3c2c1ac" value="false">
															<div class="y_mb10">支付方式：
																<span class="f_color2">在线支付</span>
																<input type="hidden" name="payType_1c24daaa0beb499282d19a3df3c2c1ac" value="1">
															</div>
															<span class="fr">
																运费：
																<b class="item-price-special">
																	<span id="affixShow_1c24daaa0beb499282d19a3df3c2c1ac">￥10.00</span>
																	<input type="hidden" id="affix_1c24daaa0beb499282d19a3df3c2c1ac" name="affix_1c24daaa0beb499282d19a3df3c2c1ac" value="10.0">
																</b>
															</span>
															<div style="position:relative">
																配送方式：
																<input type="radio" name="shipType_1c24daaa0beb499282d19a3df3c2c1ac" id="express_1c24daaa0beb499282d19a3df3c2c1ac" value="1" checked=""> 快递&nbsp;&nbsp;
															</div>
														</td>
													</tr>
													<tr style="display: none;">
														<td colspan="5" align="right">
										
															店铺合计：<b class="fr item-price-special" id="cartPayMoneyShow_1c24daaa0beb499282d19a3df3c2c1ac">¥630.10</b>
															<input type="hidden" id="cartPayMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="cartPayMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="620.1">
															<input type="hidden" id="cartTotalMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="cartTotalMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="636.0">
															<input type="hidden" name="nowCouponDetailUuid_1c24daaa0beb499282d19a3df3c2c1ac" value="">
															<input type="hidden" name="nowPromotionUuid_1c24daaa0beb499282d19a3df3c2c1ac" value="">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="fill-information">
								<div class="">
									<ul>
										<li >
											<span class="inline-block f12">联系人姓名： </span>
											<!--<label for="basic-url">Your vanity URL</label>-->
											<div class="input-group inline-block">
											  <input type="text" class="form-control" placeholder="必填：请填写联系人姓名" aria-describedby="basic-addon1">
											</div>
											<div class="inline-block m_l_10">
												<button type="button" class="btn btn-default btn-set-man">设为常用联系人</button>
											</div>
										</li>
										<li >
											<span class="inline-block f12">联系方式： </span>
											<!--<label for="basic-url">Your vanity URL</label>-->
											<div class="input-group inline-block">
											  <input type="text" class="form-control" placeholder="必填：请填写联系方式" aria-describedby="basic-addon1">
											</div>
										</li>
										<li >
											<span class="inline-block f12">给卖家留言： </span>
											<!--<label for="basic-url">Your vanity URL</label>-->
											<div class="input-group inline-block">
											  <input type="text" class="form-control" placeholder="选填：对本次交易的说明" aria-describedby="basic-addon1">
											</div>
										</li>
									</ul>
									<ul>
										<li>
											<div class="checkbox">
												<label class="font-weight-normal"><input id="color-input-red" type="checkbox" value="" name="" ><label id="color-input-red-label"  for="color-input-red"></label >我已阅读并接受所有条款内容</label><span class="m_l_10"><a href="">查看条款内容</a></span>
											</div>
											
										</li>
									</ul>
								</div>
							</div>
							
							<div class="pay-btn-box">
								<div class="btn btn-default">
									提交订单去支付&nbsp;<sapn>&nbsp;(&yen;160.0)</sapn>
								</div>
							</div>
							
							<!--描述：待定-->
							<div class="" style="display: none;">
								<div class=" table-responsive">
									<table class="cart-table-tit">
										<thead>
											<tr>
												<th width="47%">商品信息</th>
												<th width="17%">单价（元）</th>
												<th width="20%">数量</th>
												<th>金额（元）</th>
											</tr>
										</thead>
									</table>
								
									<div id="showStores">
										<input type="hidden" id="cart" name="cart">
										<div id="" name="">
											<input type="hidden" id="storeUuid" value="">
											<input type="hidden" id="" value="">
											<span id="contrallnum">
												<input type="hidden" name="" value="">
												<span class="select-box clearfix f-fl" id="contrallnum">
												</span></span>
											<table class="cart-table y_checktable">
												<tbody class="r_tz">
								
													<!-- 零售商品 -->
													<tr>
														<td width="47%" class="y_firsttd">
															<div class="pic">
																<a href="" target="_blank">
																</a>
																<a href="" target="_blank">
																	<img src="/ueditor/getFileByFileKey/main5f883cae86af420893a84c43183f42ad" alt="">
																</a>
								
															</div>
															<div class="name">
																<a href="" target="_blank">舒来纽亮颜雪肌系列亮肤五件套</a>
																<span class="sx">
															
																<span class="y_pdsta">商品重量：其他</span>
								
																</span>
								
															</div>
															<!-- 循环赠品商品 -->
								
															<!-- 循环赠品优惠券 -->
								
														</td>
														<td width="17%" class="price">
															<span class="">¥318.00 </span>
															<input type="hidden" name="productCartDetailUuid_0000369759" value="21ae01c5237142f598ddd08118dd2b50">
															<input type="hidden" name="productNowPrice_0000369759" value="620.1">
															<input type="hidden" id="productBasePrice_1" name="productBasePrice_0000369759" value="318.0">
															<input type="hidden" name="productMarketPrice_0000369759" value="398.0">
															<input type="hidden" id="productUuid" name="productUuid_3fd0bd8d59924114830da4eb9756bf90" value="3fd0bd8d59924114830da4eb9756bf90">
															<input type="hidden" id="nowbuynum1" name="productBuyNum_0000369759" value="2">
															<input type="hidden" name="detailNowPromotionUuid_0000369759" value="">
															<input type="hidden" name="productType0000369759" value="01">
														</td>
														<td width="20%">
								
															2
								
														</td>
														<td class="y_lasttd">
															<span id="money" class=" f_size14">¥620.10 </span>
								
															<input type="hidden" name="productPrice" value="620.1">
														</td>
													</tr>
								
													<tr>
								
														<td colspan="2" rowspan="2" class="text_l td_line">
								
															<dl class="y_message">
																<dt class="padd-top">给卖家留言：</dt>
																<dd>
																	<input type="text" name="storeNote1c24daaa0beb499282d19a3df3c2c1ac" maxlength="200" class="form-control" placeholder="选填：对本次交易的说明">
																</dd>
															</dl>
								
														</td>
														<td colspan="3" align="left" class="cart_ztBox">
															<input type="hidden" id="offlineCouponReduceMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="offlineCouponReduceMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="15.9">
								
															<span class="y_mb10">
																红包抵扣：
																<b class="item-price-special" id="redmoney">
																	-￥15.90
																</b>
															</span>
								
														</td>
								
													</tr>
								
													<tr class="text_l">
														<td colspan="3" align="left" class="cart_ztBox">
															<input type="hidden" name="chooseCod_1c24daaa0beb499282d19a3df3c2c1ac" id="chooseCod_1c24daaa0beb499282d19a3df3c2c1ac" value="false">
															<div class="y_mb10">支付方式：
																<span class="f_color2">在线支付</span>
																<input type="hidden" name="payType_1c24daaa0beb499282d19a3df3c2c1ac" value="1">
															</div>
								
															<span class="fr">
														运费：
														<b class="item-price-special">
															<span id="affixShow_1c24daaa0beb499282d19a3df3c2c1ac">￥10.00</span>
															<input type="hidden" id="affix_1c24daaa0beb499282d19a3df3c2c1ac" name="affix_1c24daaa0beb499282d19a3df3c2c1ac" value="10.0">
															</b>
															</span>
															<div style="position:relative">
																配送方式：
																<input type="radio" name="shipType_1c24daaa0beb499282d19a3df3c2c1ac" id="express_1c24daaa0beb499282d19a3df3c2c1ac" value="1" checked=""> 快递&nbsp;&nbsp;
															</div>
								
														</td>
													</tr>
								
													<tr>
								
														<td colspan="5" align="right">
								
															店铺合计：<b class="fr item-price-special" id="cartPayMoneyShow_1c24daaa0beb499282d19a3df3c2c1ac">¥630.10</b>
															<input type="hidden" id="cartPayMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="cartPayMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="620.1">
															<input type="hidden" id="cartTotalMoney_1c24daaa0beb499282d19a3df3c2c1ac" name="cartTotalMoney_1c24daaa0beb499282d19a3df3c2c1ac" value="636.0">
															<input type="hidden" name="nowCouponDetailUuid_1c24daaa0beb499282d19a3df3c2c1ac" value="">
															<input type="hidden" name="nowPromotionUuid_1c24daaa0beb499282d19a3df3c2c1ac" value="">
								
														</td>
													</tr>
												</tbody>
											</table>
										</div>
								
									</div>
								
									<div id="showTotalMoney">
								
										<div class="y_cartsetment">
											<div class="cart2_price">
												<p>实付款：<strong id="totalMoneyShow">¥630.10</strong></p>
												<input type="hidden" value="630.10" id="totalMoney">
											</div>
										</div>
									</div>
								
									<div class="cart_btn">
								
										<a href="/cart/cartshow" style="text-decoration:none" class="btn-link">返回购物车修改</a>
								
										<a href="javascript:void(0);" class="btn-custom" style="text-decoration:none" id="submitForm">提交订单</a>
									</div>
								</div>
							</div>
							<!--描述：待定-->
							
							
							
							
							<div class="m_t_31 f14 c333" style="display: none;">
								
								<div class="flex m_l_30 tc">
									<div class="flex-1">
										商品信息
									</div>
									<div class="flex-1">
										单价（元）
									</div>
									<div class="flex-1">
										数量
									</div>
									<div class="flex-1">
										金额
									</div>
								</div>
								<div class="menu-details-box m_l_30 m_t_0">
									<div class="flex">
									<div class="flex-1">
										<div class="inline-block  f14 cff5555 flex">
											<div class="flex-1">
												<img src="../../img/details/xq_pic_left_02.jpg"/>
											</div>
											<div class="flex-1" style="line-height: 2;margin-top: 10px;">
												<p>花儿映像主题</p>
												<p>级别：标准</p>
											</div>
										</div>
									</div>
									<div class="flex-1 tc">
										<div class="inline-block c333">
											<span class=" ">&yen;168</span>
										</div>
									</div>
									<div class="flex-1 tc">
										
										<div class="inline-block c333">
											<div class="mui-numbox">
											  <!-- "-"按钮，点击可减小当前数值 -->
											  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
											  <input class="mui-numbox-input" type="number" />
											  <!-- "+"按钮，点击可增大当前数值 -->
											  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
											</div>
										</div>
									</div>
									<div class="flex-1 tc">
										<div class="inline-block c333">
											<span class="cff5555">&yen;168</span>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="g-listbox-r g-listbox-r-max">
						<div class="bgfff box_shadow">
							<div class="sidebar">
								<div id="J_ShopInfo" class="shop-info ">
									<div class="shop-info-wrap">
										<div class="shop-info-hd">
											<div class="m_r_7">
												<img src="../../img/place-order/xd-icon-01.png"/>
											</div>
											店铺：
											<span class="shop-name ellipsis">
												有兄有弟呼啦羊蹄羹
											</span>
										</div>
										<div class="shop-info-bd">
											<div class="shop-logo-img">
												<img src="../../img/place-order/xd-pic_right-01.jpg"/>
											</div>
										</div>
										<div class="shop-info-ft">
											<div class="ellipsis goods-name">
												呼啦羊蹄子（大份）
											</div>
											<!--<div>昌吉书屯河北路与红星东路交汇处向北200米，新天地商务港旁</div>-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bgfff box_shadow">
							<div class="goods-info-costlist c333">
								<div class="">
									<div class="list-group-item no-border">
										<div ><span class="f18">费用</span><span class="cff5555 fr clear-both m_t_5">&yen;336.00</span></div>
									</div>
									<div class="list-group-item border-line">
										<div><span class="f18">红包抵扣</span> <span class="cff5555 fr clear-both m_t_5">-&yen;0.00</span></div>
									</div>
									<div class="list-group-item no-border">
										<div class=""><span class="f18">在线支付</span></div>
										<div class="gray-box">
											<div class="tr">
												店铺合计：<span class="cff5555">&yen;336.00</span>
											</div>
											<div class="tr f14">
												实付款：<span class="cff5555">&yen;<span class="f28">336.00</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
						
					
				</div>
			</div>
			
		</div>
		
		<div class="">
			<section>
				<footer>
					<div class="content-int">
						<div class="Development short-footer-box tc">
							<p><img src="../../img/public-bot-logo.png" alt=""></p>
							<p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com)    版权所有</span><span>新ICP备18001279号-1</span></p>
							<p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050 </span></p>
						</div>
					</div>
				</footer>
			</section>
		</div>
	</body>
	<script src="../../js/jquery/jquery.js"></script>
	<script src="../../js/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/moment-with-locales.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript ">
		$(function(){
			$(".public-sub li").on("mouseover",function(){
				var index = $(this).attr("data-index");
				$(".payment-method-box #item"+index+"").css({"display":"block"}).siblings().css({"display":"none"});
				console.log($(".payment-method-box #item"+index+""));
				$(this).addClass("active").siblings().removeClass("active");
			})
			$(".public-sub li").on("click",function(){
				var index = $(this).attr("data-index");
				$(".payment-method-box #item"+index+"").css({"display":"block"}).siblings().css({"display":"none"});
				$(this).addClass("active").siblings().removeClass("active");
			})
			
			
			//取消掉所有选择的颜色
			function cancelChooseColor(clickId){
				var inputColor = $('#color-input-red');
				if($(clickId).prop("checked")==true){
					$("#color-input-red").next().css({"z-index":"100"});
				}else{
					$("#color-input-red").next().css({"z-index":""});
				}
			}
			$(document).on("click","#color-input-red",function(){
				cancelChooseColor("#color-input-red");
			})
				
			})
	</script> 
	
</html>
