<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线路店铺首页</title>
</head>
<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/swiper.min.css">
<link rel="stylesheet" href="../../css/Scenic/Scenic_spot.css">
<link rel="stylesheet" href="../../css/Line/Line_shop_classification.css">
<link rel="stylesheet" href="../../css/Line/Line_Shop_front_page.css">

<body>
    <nav>
        <div class="nav_title">
            <div class="nav_title_head">
                <p class="nav_title_city"><span>2019年12月10号 星期二 </span><span>新疆天池 晴 低温 -6℃~高温3℃ 微风2级</span></p>
                <div class="nav_title_city fujian"><a href="#">登录</a><span class="fenge">|</span><a class="fenge"
                        href="#">注册</a><a href="#">收藏<div class="sjx"></div></a><a href="#">购物车<div class="sjx"></div>
                    </a><a href="#">客服<div class="sjx"></div></a>
                    <!-- <div class="login1"><img src="../../img/public-top-icon-mobile.png" alt=""></div>
                    <div class="login2"><img src="../../img/public-top-icon-wx.png" alt=""></div> -->
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_list">
                <div class="nav_list_logo">
                    <img src="../../img/public-top-logo.png" alt="">
                </div>
                <span class="fgx"></span>
                <div class="shop">
                    <p class="shop_title"><span>飞马之旅旅行社有限公司</span>
                        <!-- <button class="goTO_shop">进入店铺</button> -->
                    </p>
                    <p class="shop_score">[&nbsp;&nbsp;描述评分<span
                            class="shop_score_describe Fraction">4.97</span>|&nbsp;&nbsp;商品评分<span
                            class="shop_score_service Fraction">3.85</span>|&nbsp;&nbsp;综合评分<span
                            class="shop_score_logistics Fraction">3.99</span>&nbsp;&nbsp;]</p>
                    <p><button class="Collection_shop">+ 收藏店铺</button></p>
                </div>
                <div class="search">
                    <input type="text" placeholder="搜索目的地/景区/酒店"><span class="seach_all Search">搜全网</span><span
                        class="search_this Search">搜本店</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next  swiper-button-black"></div>
        </div>
    </div>
    <div class="content">
        <div class="content_nav">
            <ul class="breadcrumb">
                <li class="active"><img src="../../img/lb_icon_home.png" alt="">您现在所在的位置:</li>
                <li class="home"><a href="#">首页</a> <span class="divider">&gt;</span></li>
                <!-- <li class="home"><a href="#">线路</a> <span class="divider">></span></li>
                <li class="home"><a href="#">线路详情</a> <span class="divider">></span></li> -->
                <li class="active shopName">新疆飞马智旅旅行社有限公司</li>
            </ul>
        </div>
        <p><button class="first weizhi">店铺首页</button>
            <button class="product weizhi">线路产品</button></p>
    </div>
    <div class="commodity">
        <div class="commodity_title">
            <img src="../../img/dp-tit-icon-01.png" alt="">
            <p><span class="zhonghua"></span>&nbsp;店铺推荐&nbsp;<span class="zhonghua"></span></p>
            <div class="commodity_content">
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>
                <div class="commodity_content_list">
                    <img src="../../img/dp-pic-0-224x150.jpg" alt="">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>2899</span>人购买</p>
                            <p>想你所想-云端之旅三亚双飞6日游</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>4980.0</i></p>
                            <p class="Corner_marker_content_buy_Add_menu">立即购买</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="Best_Sellers">
        <div class="commodity">
            <div style="background: #f5f5f5; width: 100%; text-align: center; padding-top: 20px;">
                <img src="../../img/dp-tit-icon-02.png" alt="">
                <p style="padding-bottom: 20px; margin-top: 20px;"><span class="zhonghua"></span>&nbsp;热卖商品&nbsp;<span
                        class="zhonghua"></span></p>
            </div>
            <div class="commodity_title">
                <div class="Best_Sellers_list">
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                        <div class="zhezhao">新疆伊犁土尔根新华沟+赛里木湖双卧4日游>追朔土尔根新华的脚步,赛里木湖比u比u比u </div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>1899</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>56
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>


                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="contact">
            <ul class="Hotline">
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-phone.png" alt="">
                    <div>
                        <p>服务热线</p>
                        <p>400-123-456</p>
                    </div>
                </li>
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-mail.png" alt="">
                    <p style="line-height: 2.9;">意见反馈</p>
                </li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">手游新疆旅游网</li>
                <li>覆盖全疆100多个县</li>
                <li>10,000,000</li>
                <li>8030家酒店</li>
                <li>1000家新疆特色餐饮</li>
                <li>手游新疆APP带您领略新疆风貌</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">关于我们</li>
                <li>关于手游新疆</li>
                <li>联系我们</li>
                <li>隐私政策</li>
                <li>商标声明</li>
                <li>新疆非遗入住协议</li>
                <li>商城平台服务协议</li>
                <li>网站地图</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">快速导航</li>
                <li>门票购买</li>
                <li>线路选择</li>
                <li>旅游特价</li>
                <li>租车服务</li>
                <li>旅游问答</li>
                <li>订火车票</li>
                <li>订购机票</li>
                <li>旅游保险</li>
                <li>旅游资讯</li>
                <li>APP下载</li>
            </ul>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆App</p>
                <img src="../../img/public-end-ewm-1.jpg" alt="">
                <p class="QR_code_content">下载有惊喜哦</p>
            </div>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆公众号</p>
                <img src="../../img/public-end-ewm-2.jpg" alt="">
                <p class="QR_code_content">快来关注我吧</p>
            </div>

        </div>
        <div class="link">
            <p>集团网站:<span>手游新疆资讯网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span>
            </p>
            <p>友情链接:<span>百度网旅游</span>
                <span>途牛网旅游</span>
                <span>人民网旅游</span>
                <span>奇艺旅游</span>
            </p>
        </div>
        <div class="website">
            <div class="love">
                <p>新疆的旅游路上,我们一直都在</p>
                <p><img src="../../img/public-end_icon-1.png" alt=""><img src="../../img/public-end_icon-2.png"
                        alt=""><img src="../../img/public-end_icon-3.png" alt=""></p>
            </div>
            <div class="Development">
                <p><img src="../../img/public-bot-logo.png" alt=""></p>
                <p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com) 版权所有</span><span>新ICP备18001279号-1</span></p>
                <p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050
                    </span></p>
            </div>
        </div>

    </footer>
</body>
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/swiper.min.js"></script>
<script>
    (function () {
        var listStr = '';
        var hot = '';
        var storeUuid = JSON.parse(sessionStorage.getItem('storeUuid'));
        console.log(123)
        $.ajax({
            type: 'get',//类型
            url: 'http://192.168.90.170:8082/frontshow/storeindex/toStoreIndexNew',//地址
            dataType: 'json',
            async: false,
            data: {
                storeUuid: "bc8294a51e014a349e91388cdc288bd2",

            },
            //请求成功
            success: function (data) {
                var store = data.frontStoreInfo;
                // console.log(data.frontStoreInfo);
                $(".shop_title>span").html(store.storeName);
                $(".shop_score_describe").html(store.descScore)
                $(".shop_score_service").html(store.scoreTotal)
                $(".shop_score_logistics").html(store.attitudeScore)
                $(".shopName").html(store.storeName)
            }
        })
        $.ajax({
            type: 'get',//类型
            url: 'http://192.168.90.170:8082/frontshow/storeindex/getStoreProductNew',//地址
            dataType: 'json',
            async: false,
            data: {
                storeUuid: "bc8294a51e014a349e91388cdc288bd2",

            },
            //请求成功
            success: function (data) {
                // console.log(data)
                var productList = data.productList;
                for (var i = 0; i < productList.length; i++) {
                    listStr += `<div class="commodity_content_list">
                        <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].imageKey + ` " alt=""  onerror="javascript:this.src='../../img/nopic.gif'">
                    <div class="Corner_marker">
                        <img src="../../img/public-icon-01.png" alt="">
                    </div>
                    <div class="Corner_marker_content">
                        <div class="Corner_marker_content_list">
                            <p><span>`+ productList[i].sales + `</span>人购买</p>
                            <p>`+ productList[i].productName + `</p>
                        </div>
                        <div class="Corner_marker_content_buy">
                            <p class="Corner_marker_content_money">&yen;<i>`+ productList[i].price + `</i></p>
                            <p class="Corner_marker_content_buy_Add_menu"  name="`+ productList[i].skuNo + `">立即购买</p>
                        </div>
                    </div>
                </div> `;
                    $(".commodity_content").html(listStr)
                }
            }
        })
        $.ajax({
            type: 'get',//类型
            url: 'http://192.168.90.170:8082/frontshow/storeindex/getHotProductDataNew',//地址
            dataType: 'json',
            async: false,
            data: {
                storeUuid: "bc8294a51e014a349e91388cdc288bd2",

            },
            //请求成功
            success: function (data) {
                var hotList = data.hotList;
                console.log(hotList)
                for (var x = 0; x < hotList.length; x++) {
                    hot += `<figure name="` + hotList[x].skuNo + `">
                        <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + hotList[x].imageKey + ` " alt=""  onerror="javascript:this.src='../../img/nopic.gif'">
                        <div class="zhezhao">`+ hotList[x].productName + `</div>
                        <figcaption>
                            <div class="Scenic_price">
                                <font>¥<em>`+ hotList[x].price + `</em><span style="color: #666;">起</span></font> <span class="rob">已抢
                                    <font>`+ hotList[x].sales + `
                                    </font>张</span>
                            </div>
                        </figcaption>
                    </figure>`;
                    $(".Best_Sellers_list").html(hot)
                }
            }
        })
    }())
    var mySwiper = new Swiper('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            disableOnInteraction: false, //手动滑动之后不打断播放
            delay: 2000
        },
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
    $(".commodity_content").on("click", ".Corner_marker_content_buy_Add_menu", function () {
        console.log(132)
        var skuNo = $(this).attr("name");
        console.log(skuNo);
        sessionStorage.setItem('skuNo', JSON.stringify(skuNo));
        location.href = "./Line-details.html?skuNo=" + skuNo;
    })
    $(".Best_Sellers_list").on("click", "figure", function () {
        console.log(132)
        var skuNo = $(this).attr("name");
        console.log(skuNo);
        sessionStorage.setItem('skuNo', JSON.stringify(skuNo));
        location.href = "../Scenic/Scenic-details.html?skuNo=" + skuNo;
    })
    $(".Best_Sellers_list figure").hover(function () {
        $(this).addClass("biankuang")
    }, function () {
        $(this).removeClass("biankuang")

    })




</script>

</html>