<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重置密码</title>
    <link rel="stylesheet" href="../../css/Scenic/Scenic_spot.css">
    <link rel="stylesheet" href="../../css/Login/Merchant_entry.css">
    <link rel="stylesheet" href="../../css/Login/Retrieve_password.css">
</head>
<style>
    .kuang-ipt {
        height: 200px;
        width: 500px;
        margin: 0 auto;
    }

    .kuang-ipt li:nth-of-type(1) input {

        padding-top: 0;
        width: 240px;
        border: solid 1px #dbdbdb;
        height: 33px;
    }

    .kuang-ipt li:nth-of-type(2) input {
        border: solid 1px #dbdbdb;
        width: 240px;
        height: 33px;
    }

    .kuang-ipt .tishi {
        display: block;
        height: 20px;
        width: 100%;
        padding-top: 10px;
        text-align: right;
        color: red;
        display: none;
    }

    tbody {
        display: flex;
    }

    .qiangdu {
        width: 150px;
        margin-top: 8px;
    }

    .qiangdu td {
        width: 50px;
    }
</style>

<body>
    <nav>
        <div class="nav_title">
            <div class="nav_title_head">
                <p class="nav_title_city"><span>2019年12月10号 星期二 </span><span>新疆天池 晴 低温 -6℃~高温3℃ 微风2级</span></p>
                <div class="nav_title_city fujian"><a href="#">登录</a><span class="fenge">|</span><a class="fenge"
                        href="#">注册</a><a href="#">收藏<div class="sjx"></div></a><a href="#">购物车<div class="sjx"></div>
                    </a><a href="#">客服<div class="sjx"></div></a>
                    <div class="login1"><img src="../../img/public-top-icon-mobile.png" alt=""></div>
                    <div class="login2"><img src="../../img/public-top-icon-wx.png" alt=""></div>
                </div>
            </div>
        </div>

    </nav>
    <div class="titles">
        <div class="title-logo">
            <img src="../../img/place-order/xd-pic-slogo.png" alt="">
            <input type="text" placeholder="搜索目的地/景区/酒店"><span><img src="../../img/public-icon-soo.png" alt=""></span>
        </div>
    </div>
    <div class="password_content">
        <p><span>找回密码</span></p>
        <div class="login-img">
            <img src="../../img/Login/zhmm-pic-03.png" alt="">
        </div>
        <div class="kuang-ipt">
            <ul>
                <li>
                    <form name=form1 action="">
                        <table width="250" border="0" cellpadding=2" bordercolor="#eeeeee" style='display:inline'>
                            <tr>
                                <td width="83px" style="text-align: center; font-size: 12px; color: #666;"
                                    align="right">新密码:</td>
                                <td colspan="3" align="left">
                                    <input class="psd" type=password placeholder="请输入6-18位密码" size=18
                                        onKeyUp=pwStrength(this.value) onBlur=pwStrength(this.value)>
                                </td>
                            </tr>
                            <tr class="qiangdu" align="center">
                                <td width="20%" id="strength_L" bgcolor="#eeeeee">弱</td>
                                <td width="20%" id="strength_M" bgcolor="#eeeeee">中</td>
                                <td width="20%" id="strength_H" bgcolor="#eeeeee">强</td>
                            </tr>
                        </table>
                    </form>
                </li>
                <li class="tishi1 tishi"></li>
                <!-- <li> <span class="title">新密码：</span><input type="password" placeholder="请输入6-18位密码" class="ipt-one psd">
                    <div class="Password-strength "><span>弱</span><span>中</span><span>强</span></div>
                </li> -->

                <li><span class="title">确认密码：</span><input type="password" placeholder="请再次输入新密码"
                        class="ipt-one psdTrue"></li>
                <li class="tishi2 tishi">两次密码不一致~</li>
            </ul>
        </div>
        <div class="Submission">
            <button class="submit">下一步</button>
            <!-- <button>取消</button> -->
        </div>
        <div class="Explain">
            <h5 style="margin-top: 20px; margin-bottom: 10px;">密码设置技巧</h5>
            <p>密码设置至少6位以上，由数字、字母和符号混合而成，安全性最高。</p>
            <p>不要和用户名太相似，这样容易被人猜到。</p>
            <p>不要用手机号、电话号码、生日、学号、身份证号等个人信息。</p>
            <p>请您每隔一段时间更新一次帐号的密码。同时，新密码不应包括旧密码的内容，并且不应与旧密码相似。</p>
            <p style="margin-top: 10px;">友情提醒：用户名和密码要做好相应记录，以免忘记。</p>
        </div>
    </div>
    <footer>
        <div class="contact">
            <ul class="Hotline">
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-phone.png" alt="">
                    <div>
                        <p>服务热线</p>
                        <p>400-123-456</p>
                    </div>
                </li>
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-mail.png" alt="">
                    <p style="line-height: 2.9;">意见反馈</p>
                </li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">手游新疆旅游网</li>
                <li>覆盖全疆100多个县</li>
                <li>10,000,000</li>
                <li>8030家酒店</li>
                <li>1000家新疆特色餐饮</li>
                <li>手游新疆APP带您领略新疆风貌</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">关于我们</li>
                <li>关于手游新疆</li>
                <li>联系我们</li>
                <li>隐私政策</li>
                <li>商标声明</li>
                <li>新疆非遗入住协议</li>
                <li>商城平台服务协议</li>
                <li>网站地图</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">快速导航</li>
                <li>门票购买</li>
                <li>线路选择</li>
                <li>旅游特价</li>
                <li>租车服务</li>
                <li>旅游问答</li>
                <li>订火车票</li>
                <li>订购机票</li>
                <li>旅游保险</li>
                <li>旅游资讯</li>
                <li>APP下载</li>
            </ul>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆App</p>
                <img src="../../img/public-end-ewm-1.jpg" alt="">
                <p class="QR_code_content">下载有惊喜哦</p>
            </div>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆公众号</p>
                <img src="../../img/public-end-ewm-2.jpg" alt="">
                <p class="QR_code_content">快来关注我吧</p>
            </div>

        </div>
        <div class="link">
            <p>集团网站:<span>手游新疆资讯网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span>
            </p>
            <p>友情链接:<span>百度网旅游</span>
                <span>途牛网旅游</span>
                <span>人民网旅游</span>
                <span>奇艺旅游</span>
            </p>
        </div>
        <div class="website">
            <div class="love">
                <p>新疆的旅游路上,我们一直都在</p>
                <p><img src="../../img/public-end_icon-1.png" alt=""><img src="../../img/public-end_icon-2.png"
                        alt=""><img src="../../img/public-end_icon-3.png" alt=""></p>
            </div>
            <div class="Development">
                <p><img src="../../img/public-bot-logo.png" alt=""></p>
                <p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com) 版权所有</span><span>新ICP备18001279号-1</span></p>
                <p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050
                    </span></p>
            </div>
        </div>

    </footer>
</body>
<script src="../../js/Root/root.js"></script>
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/jquery.min.js"></script>
<script language=javascript>
       var pwdStrength = "";
    //判断输入密码的类型  
    function CharMode(iN) {
        if (iN >= 48 && iN <= 57) //数字  
            return 1;
        if (iN >= 65 && iN <= 90) //大写  
            return 2;
        if (iN >= 97 && iN <= 122) //小写  
            return 4;
        else
            return 8;
    }
    //bitTotal函数  
    //计算密码模式  
    function bitTotal(num) {
        modes = 0;
        for (i = 0; i < 4; i++) {
            if (num & 1) modes++;
            num >>>= 1;
        }
        return modes;
    }
    //返回强度级别  
    function checkStrong(sPW) {
        if (sPW.length < 6)
            return 0; //密码太短，不检测级别
        Modes = 0;
        for (i = 0; i < sPW.length; i++) {
            //密码模式  
            Modes |= CharMode(sPW.charCodeAt(i));
        }
        return bitTotal(Modes);
    }

    //显示颜色  
    function pwStrength(pwd) {
        Dfault_color = "#eeeeee";        //默认颜色
        L_color = "rgba(255,0,0)";        //低强度的颜色，且只显示在最左边的单元格中
        M_color = "rgba(255, 155, 0)";        //中等强度的颜色，且只显示在左边两个单元格中
        H_color = "rgba(0, 204, 102)";        //高强度的颜色，三个单元格都显示
        if (pwd == null || pwd == '') {
            Lcolor = Mcolor = Hcolor = Dfault_color;
        }
        else {
            S_level = checkStrong(pwd);
            switch (S_level) {
                case 0:
                    Lcolor = Mcolor = Hcolor = Dfault_color;
                    // pwdStrength="1"
                    break;
                case 1:
                    Lcolor = L_color;
                    Mcolor = Hcolor = Dfault_color;
                    pwdStrength="1"
                    break;
                case 2:
                    Lcolor = Mcolor = M_color;
                    Hcolor = Dfault_color;
                     pwdStrength="2"
                    break;
                default:
                    Lcolor = Mcolor = Hcolor = H_color;
                     pwdStrength="3"
            }
        }
        document.getElementById("strength_L").style.background = Lcolor;
        document.getElementById("strength_M").style.background = Mcolor;
        document.getElementById("strength_H").style.background = Hcolor;
        return;
    }

</script>
<script>
 
    var code = JSON.parse(sessionStorage.getItem('code'));
    var users = JSON.parse(sessionStorage.getItem('users'));
    console.log(code, "-----------------------------", users)
    $(".psd").blur(function () {
        var psd = $(this).val();
        if (psd == '') {
            $(".tishi1").css("display", "block")
            $(".tishi1").html("密码不能为空~")
        } else {
            $(".tishi1").css("display", "none")

        }
    })
    $(".psdTrue").blur(function () {
        var psdTrue = $(this).val();
        var psd = $(".psd").val();
        if (psdTrue == '') {
            $(".tishi2").css("display", "block")
            $(".tishi2").html("密码不能为空~")
        } else {
            $(".tishi2").css("display", "none")

        }
        if (psd != psdTrue) {
            $(".tishi2").css("display", "block")
            $(".tishi2").html("两次密码输入不一致")
        } else {
            $(".tishi2").css("display", "none")

        }
    })
    //提交
    $(".submit").click(function () {
        var psdTrue = $(".psdTrue").val();
        var psd = $(".psd").val();
        if (psdTrue == '' && psd == '') {
            alert("密码不能为空")
        } else {
            url = "http://www.shouyouxinjiang.com/store/findpwd/doStep3";
            $.ajax({
                type: 'POST',//类型
                url: url,//地址
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                async: false,
                dataType: 'json',
                data: {
                    uuid: users.userUuid,
                    newpwd:psdTrue,
                    code: code,
                    pwdStrength:pwdStrength
                },
                //请求成功
                success: function (data) {
                    console.log(data)
                    if (data.res == false) {
                        return;
                    }else{
                        location.href="./Merchant_passwordfour.html";
                    }

                }
            })

        }
    })

</script>

</html>