<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商户登录</title>
</head>
<link rel="stylesheet" href="../../css/Scenic/Scenic_spot.css">
<link rel="stylesheet" href="../../css/Login/Login_page.css">
<link rel="stylesheet" href="../../css/Login/Merchant_entry.css">
<style>
    .login-contents {
        width: 100%;
        height: 760px;
        background: url(../../img/Login/sjdl-pic-bg-01.jpg);
    }

    .Merchant_login {
        width: 1200px;
        margin: 0 auto;
        padding-top: 163px;
    }

    .login-top {
        height: 50px;
        width: 100%;
        background: #fff;
    }

    .login_dv {
        width: 381px;
        padding: 30px;
        margin: 0 auto;
        border-radius: 15px;
        background: #fff;
        float: right;
    }

    .login-content {
        height: auto;
        background: #fff;
    }

    .checkBox {
        vertical-align: middle;
    }

    .login-top .bk {
        height: 40px;
        border-left: 1px solid #333;
        margin: 0 16px;
    }
    .tishi{
        display: none;
        text-align: center;
        color: red;
    }
</style>

<body>
    <div class="login">
        <div class="login-top">
            <div class="topone">
                <img src="../../img/place-order/xd-pic-slogo.png" alt="">
                <p class="bk"></p>
                <p class="txt">商家中心</p>
            </div>
        </div>
        <div class="login-contents">
            <div class="Merchant_login">
                <div class="login_dv">
                    <div class="login-top">
                        <img src="../../img/login-pic-user-01.png" alt="">
                        <p>商户登录</p>
                    </div>
                    <div class="login-content">
                        <div class="username">
                            <span>用户名</span>
                            <input class="userName" type="text" placeholder="请输入用户名">
                        </div>
                        <p class="tishi1 tishi">123</p>
                        <div class="password">
                            <span>密码</span>
                            <input class="Pwd" type="password" placeholder="请输入密码">
                        </div>
                        <p class="tishi1 tishi">456</p>
                        <div class="login_button">
                            <img src="../../img/loginButton.png" alt="">
                            <p class="login_button_font">登录</p>
                        </div>
                        <div class="loginone">
                            <p><input class="checkBox" name="checkbox" type="checkbox">记住我</p>
                            <p><a href="#">忘记密码？</a> <span><a style="color: red;"
                                        href="./Merchant_entry.html">商家入驻</a></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="contact">
                <ul class="Hotline">
                    <li class="Hotline_line">
                        <img src="../../img/public-end-icon-phone.png" alt="">
                        <div>
                            <p>服务热线</p>
                            <p>400-123-456</p>
                        </div>
                    </li>
                    <li class="Hotline_line">
                        <img src="../../img/public-end-icon-mail.png" alt="">
                        <p style="line-height: 2.9;">意见反馈</p>
                    </li>
                </ul>
                <ul class="Opinion">
                    <li class="first_title">手游新疆旅游网</li>
                    <li>覆盖全疆100多个县</li>
                    <li>10,000,000</li>
                    <li>8030家酒店</li>
                    <li>1000家新疆特色餐饮</li>
                    <li>手游新疆APP带您领略新疆风貌</li>
                </ul>
                <ul class="Opinion">
                    <li class="first_title">关于我们</li>
                    <li>关于手游新疆</li>
                    <li>联系我们</li>
                    <li>隐私政策</li>
                    <li>商标声明</li>
                    <li>新疆非遗入住协议</li>
                    <li>商城平台服务协议</li>
                    <li>网站地图</li>
                </ul>
                <ul class="Opinion">
                    <li class="first_title">快速导航</li>
                    <li>门票购买</li>
                    <li>线路选择</li>
                    <li>旅游特价</li>
                    <li>租车服务</li>
                    <li>旅游问答</li>
                    <li>订火车票</li>
                    <li>订购机票</li>
                    <li>旅游保险</li>
                    <li>旅游资讯</li>
                    <li>APP下载</li>
                </ul>
                <div class="QR_code">
                    <p class="first_title" style="margin-bottom: 13px;">手游新疆App</p>
                    <img src="../../img/public-end-ewm-1.jpg" alt="">
                    <p class="QR_code_content">下载有惊喜哦</p>
                </div>
                <div class="QR_code">
                    <p class="first_title" style="margin-bottom: 13px;">手游新疆公众号</p>
                    <img src="../../img/public-end-ewm-2.jpg" alt="">
                    <p class="QR_code_content">快来关注我吧</p>
                </div>

            </div>
            <div class="link">
                <p>集团网站:<span>手游新疆资讯网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span>
                </p>
                <p>友情链接:<span>百度网旅游</span>
                    <span>途牛网旅游</span>
                    <span>人民网旅游</span>
                    <span>奇艺旅游</span>
                </p>
            </div>
            <div class="website">
                <div class="love">
                    <p>新疆的旅游路上,我们一直都在</p>
                    <p><img src="../../img/public-end_icon-1.png" alt=""><img src="../../img/public-end_icon-2.png"
                            alt=""><img src="../../img/public-end_icon-3.png" alt=""></p>
                </div>
                <div class="Development">
                    <p><img src="../../img/public-bot-logo.png" alt=""></p>
                    <p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com) 版权所有</span><span>新ICP备18001279号-1</span></p>
                    <p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050
                        </span></p>
                </div>
            </div>

        </footer>
    </div>

</body>
<script src="../../js/Root/root.js"></script>
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/jquery.min.js"></script>
<script>

   
        $(".checkBox").click(function () {
            console.log(123)
            var ss=$(this).prop("checked")
            if($(this).prop("checked")){
                console.log(ss)
             
            }
        });
      $(".login_button").click(function(){
       var userName= $(".userName").val();
       var pwd= $(".Pwd").val();
       if(userName=='' || pwd==''){
            alert("用户名密码不能为空")
       }else{
        url = "http://www.shouyouxinjiang.com/store/login";
            $.ajax({
                type: 'post',//类型
                url: url,//地址
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                async: false,
                data: {
                    loginName: userName,
                    pwd:pwd,
                    hasVilidateCode:"false"
                },
                //请求成功
                success: function (data) {
                    console.log(data)

                }
            })
       }
      })

</script>

</html>