<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/public.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/index/index.css"/>
		<style type="text/css">
			
		</style>
		
	</head>

	<body>
		<div id="">
			<section style="display: none;">
				<header>
					<div class="">
						
					</div>
					<div class="row content-width hjshu-header" style="">
	                    <!-- Single Blog Area -->
	                    <div class="col-12 col-md-9 tl d-none d-md-block">
	                       <h1>
	                           <a href="/"><img src="/img/logo.png" id="hjshuLogo" class="hjshu-menulogo"></a>
	                       </h1>
	                    </div>
	                    <div class="col-12 col-md-3 tl d-none d-md-block">
	                        <div class="hjshu-showprice">
	                            <div class="f12">当前金价</div>
	                            <h2 id="goldprice" class="f26"><span id="dapaninner" class="d-inline-block">352.06 </span><sub class="f12">元/克</sub></h2>
	                            <p class="greytext f12">黄金价格来源于上海黄金交易所</p>
	                        </div>
	                    </div>
	                </div>
	                <nav class="navbar navbar-expand-md bg-light navbar-light content-width hjshu-menu animated">
		                <a class="navbar-brand navbar-toggler border-0" href="/"><img src="/img/logo.png" id="hjshuLogo"></a>
		                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		                    <span class="navbar-toggler-icon"></span>
		                </button>
		                <div class="collapse navbar-collapse" id="collapsibleNavbar">
		                    <div class="row menulink content-width">
		                        <!-- Single Blog Area -->
		                        <div class="col-12 col-md-8 tl">
		
		                            <ul class="navbar-nav f16">
		                                <li class="nav-item active">
		                                    <a class="nav-link" href="/">首页</a>
		                                </li>
		                                <li class="nav-item dropdown">
		                                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbardrop" data-toggle="dropdown">
		                                        业务介绍
		                                    </a>
		                                    <div class="dropdown-menu">
		                                        <a class="dropdown-item" href="/Yewu/baoguanxiang">保管箱业务</a>
		                                        <a class="dropdown-item" href="/Yewu/goldstore">实体金店业务</a>
		                                        <a class="dropdown-item" href="/Yewu/yinhang"> 银行贵金属服务</a>
		                                        <a class="dropdown-item" href="/Yewu/dianshang">电商平台业务</a>
		                                        <a class="dropdown-item" href="/Yewu/zumulv">祖母绿业务</a>
		                                    </div>
		                                </li>
		                                <li class="nav-item">
		                                    <a class="nav-link" href="/Product">产品展示</a>
		                                </li>
		                                <li class="nav-item">
		                                    <a class="nav-link" href="/AboutUs">关于我们</a>
		                                </li>
		
		
		                            </ul>
		                        </div>
		                        <div class="col-12 col-md-4">
		                            <a href="javascript:;" class="f13 hjhsu-menuphone fr">
		                                <img src="/img/menuphone.png">
		                                400-610-6998
		                                <span class="greytext f12"> (工作日 9:00-17:30)</span>
		                            </a>
		
		                        </div>
		                    </div>
		
		                </div>
		            </nav>
		            <!-- swiper -->
		            <div class="">
		            	<div class="swiper-container">
						  	<div class="swiper-wrapper">
						    	<div class="swiper-slide">slider1</div>
						    	<div class="swiper-slide">slider2</div>
						    	<div class="swiper-slide">slider3</div>
						  	</div>
						</div>
		            </div>
				</header>
			</section>
			<div class="content-int">
				<div class="content-width">
					<!--面包屑-->
					<div class="content-width bgfff">
						您现在坐在的位置：<span><a href="/">首页</a></span>>特产列表页
					</div>
					<!--特产分类-->
					<div class="content-width bgfff">
						<div class="">
							<ul class="search-criteria-ul" >
								<li>特产分类：</li>
								<li><span class="on ">不限</span></li>
								<li><span class="">酒类</span></li>
								<li><span class="">生鲜食品</span></li>
								<li><span class="">饮料</span></li>
								<li><span class="">休闲食品</span></li>
								<li><span class="">其他</span></li>
							</ul>
						</div>
						<div class="">
							<ul class="search-criteria-ul" >
								<li>特产细分：</li>
								<li><span class="on ">不限</span></li>
								<li><span class="">酒类</span></li>
								<li><span class="">生鲜食品</span></li>
								<li><span class="">饮料</span></li>
								<li><span class="">休闲食品</span></li>
								<li><span class="">其他</span></li>
							</ul>
						</div>
						<!--
                        	作者：576958015@qq.com
                        	时间：2020-02-12
                        	描述：综合排序
                        -->
						<div class="search-criteria ">
							<ul class="search-criteria-ul" >
								<li>综合排序</li>
								<li><span class="on ">销量</span></li>
								<li><span class="">评论数</span></li>
								<li><span class="">最新发布</span></li>
								<li><span class="">价格</span></li>
								<li>
									<form >
										<div class="form-group">
											<div class="yen">￥</div>
										    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="">
										</div>
									</form>
								</li>
								<li><span>—</span></li>
								<li>
									<form >
										<div class="form-group">
											<div class="yen">￥</div>
										    <input type="number" class="form-control" id="" placeholder="">
										</div>
									</form>
								</li>
								<li><span class="">其他</span></li>
							</ul>
						</div>
						<div class="">
							<div class="">
								关键字：
							</div>
						</div>
						<div class="">
							<div class="">
								<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">确定/button>


							</div>
							<div class="">
								<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-success">取消</button>


							</div>
						</div>
						<div></div>
						<div class="row" style="display: none;">
						  <div class="col-md-1">特产细分：</div>
						  <div class="col-md-1 tc">不限</div>
						</div>
						
					</div>
					
					<!--
                    	描述：商品列表
                    -->
					<div>
						<div class="">
							<div class="shop-goods">
								<div class="shop-goods-item">
									<div>
										<div class="">
											<img src=""/>
										</div>
										<div class="" style="background: rgba(0,0,0,0.3);">
											<p class="ellipsis-2">小银水果酒</p>
										</div>
									</div>
									<div class="shop-message">
										<p>销量</p>
										<div class="price-red-box"><span class="price-red"><em>￥</em><span class="f16">148</span></span>&nbsp;起</div>
										<button type="button" class="btn btn-danger">立即购买</button>
									</div>
								</div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
						<div></div>
						<div></div>
					</div>
					
					<div class="content-width">
						
					</div>
				</div>
			</div>
			
			
			
			<div id="">
				<div id="">
					
				</div>
			</div>
		</div>
		
		
		
		
		
		<script src="../../js/jquery/jquery.js"></script>
		<script src="../../js/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/swiper/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: true,//可选选项，自动滑动
			})
		</script> 
	</body>

</html>
