<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/public.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/index/index.css"/>
		<style type="text/css">
			
		</style>
		
	</head>

	<body>
		<div id="">
			<section style="display: none;">
				<header>
					<div class="">
						
					</div>
					<div class="row content-width hjshu-header" style="">
	                    <!-- Single Blog Area -->
	                    <div class="col-12 col-md-9 tl d-none d-md-block">
	                       <h1>
	                           <a href="/"><img src="/img/logo.png" id="hjshuLogo" class="hjshu-menulogo"></a>
	                       </h1>
	                    </div>
	                    <div class="col-12 col-md-3 tl d-none d-md-block">
	                        <div class="hjshu-showprice">
	                            <div class="f12">当前金价</div>
	                            <h2 id="goldprice" class="f26"><span id="dapaninner" class="d-inline-block">352.06 </span><sub class="f12">元/克</sub></h2>
	                            <p class="greytext f12">黄金价格来源于上海黄金交易所</p>
	                        </div>
	                    </div>
	                </div>
	                <nav class="navbar navbar-expand-md bg-light navbar-light content-width hjshu-menu animated">
		                <a class="navbar-brand navbar-toggler border-0" href="/"><img src="/img/logo.png" id="hjshuLogo"></a>
		                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		                    <span class="navbar-toggler-icon"></span>
		                </button>
		                <div class="collapse navbar-collapse" id="collapsibleNavbar">
		                    <div class="row menulink content-width">
		                        <!-- Single Blog Area -->
		                        <div class="col-12 col-md-8 tl">
		
		                            <ul class="navbar-nav f16">
		                                <li class="nav-item active">
		                                    <a class="nav-link" href="/">首页</a>
		                                </li>
		                                <li class="nav-item dropdown">
		                                    <a class="nav-link dropdown-toggle" href="javascript:;" id="navbardrop" data-toggle="dropdown">
		                                        业务介绍
		                                    </a>
		                                    <div class="dropdown-menu">
		                                        <a class="dropdown-item" href="/Yewu/baoguanxiang">保管箱业务</a>
		                                        <a class="dropdown-item" href="/Yewu/goldstore">实体金店业务</a>
		                                        <a class="dropdown-item" href="/Yewu/yinhang"> 银行贵金属服务</a>
		                                        <a class="dropdown-item" href="/Yewu/dianshang">电商平台业务</a>
		                                        <a class="dropdown-item" href="/Yewu/zumulv">祖母绿业务</a>
		                                    </div>
		                                </li>
		                                <li class="nav-item">
		                                    <a class="nav-link" href="/Product">产品展示</a>
		                                </li>
		                                <li class="nav-item">
		                                    <a class="nav-link" href="/AboutUs">关于我们</a>
		                                </li>
		
		
		                            </ul>
		                        </div>
		                        <div class="col-12 col-md-4">
		                            <a href="javascript:;" class="f13 hjhsu-menuphone fr">
		                                <img src="/img/menuphone.png">
		                                400-610-6998
		                                <span class="greytext f12"> (工作日 9:00-17:30)</span>
		                            </a>
		
		                        </div>
		                    </div>
		
		                </div>
		            </nav>
		            <!-- swiper -->
		            <div class="">
		            	<div class="swiper-container">
						  	<div class="swiper-wrapper">
						    	<div class="swiper-slide">slider1</div>
						    	<div class="swiper-slide">slider2</div>
						    	<div class="swiper-slide">slider3</div>
						  	</div>
						</div>
		            </div>
				</header>
			</section>
			<div class="content-int">
				<div class="content-width">
					<!--面包屑-->
					<div class="content-width">
						您现在坐在的位置：<span><a href="/">首页</a></span>>特产列表页
					</div>
					<div class="g-box content-width">
						
						
						<div class="content-width-left">
							
						<!--特产分类-->
						<div class="content-width bgfff">
							<div class="">
								<ul class="search-criteria-ul" >
									<li>特产分类：</li>
									<li><span class="on ">不限</span></li>
									<li><span class="">酒类</span></li>
									<li><span class="">生鲜食品</span></li>
									<li><span class="">饮料</span></li>
									<li><span class="">休闲食品</span></li>
									<li><span class="">其他</span></li>
								</ul>
							</div>
							<div class="">
								<ul class="search-criteria-ul" >
									<li>特产细分：</li>
									<li><span class="on ">不限</span></li>
									<li><span class="">酒类</span></li>
									<li><span class="">生鲜食品</span></li>
									<li><span class="">饮料</span></li>
									<li><span class="">休闲食品</span></li>
									<li><span class="">其他</span></li>
								</ul>
							</div>
							
							<div class="search-criteria " style="display: none;">
								<ul class="search-criteria-ul" >
									<li>综合排序</li>
									<li><span class="on ">销量</span></li>
									<li><span class="">评论数</span></li>
									<li><span class="">最新发布</span></li>
									<li><span class="">价格</span></li>
									<li>
										<form >
											<div class="form-group">
												<div class="yen">￥</div>
											    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="">
											</div>
										</form>
									</li>
									<li><span>—</span></li>
									<li>
										<form >
											<div class="form-group">
												<div class="yen">￥</div>
											    <input type="number" class="form-control" id="" placeholder="">
											</div>
										</form>
									</li>
									<li><span class="">其他</span></li>
								</ul>
							</div>
							<div class="" style="display: none;">
								<div class="">
									关键字：
								</div>
							</div>
							<div class="" style="display: none;">
								<div class="">
									<!-- Contextual button for informational alert messages -->
									<button type="button" class="btn btn-info">确定</button>
								</div>
								<div class="">
									<!-- Contextual button for informational alert messages -->
									<button type="button" class="btn btn-success">取消</button>
								</div>
							</div>
							
							<!--描述：综合排序-->
							<div class="pd-order">
								<div class="po-order f-fl">
									<ul>
										<li id="productList_sort_score"><span name="score">综合排序</span></li>
										<li id="productList_sort_sales"><span name="sales">销量</span><i class="fa fa-sort"></i></li>
										<li id="productList_sort_commentCount"><span name="commentCount">评论数</span><i class="fa fa-sort"></i></li>
										<li id="productList_sort_shelveTime"><span name="shelveTime">最新发布</span><i class="fa fa-sort"></i></li>
										<li id="productList_sort_lowestPrice"><span name="lowestPrice">价格</span><i class="fa fa-sort"></i></li>
							
										<li class="area-p">
											<div>
												<span>￥</span> <input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" id="startPrice" type="text" value="">
											</div> <span>-</span>
											<div>
												<span>￥</span> <input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" id="endPrice" type="text" value="">
											</div>
										</li>
									</ul>
								</div>
								<div class="po-search f-fr">
									<span>关键字</span>
									<input type="text" placeholder="" id="keywordSearch">
									<a id="priceSearch" href="javascript:void(0)" class="s-btn">确定</a>
									<a id="clearSearch" href="javascript:void(0)" class="s-btn s-btn-white">清空</a>
								</div>
							</div>
							
							<div class="row" style="display: none;">
							  <div class="col-md-1">特产细分：</div>
							  <div class="col-md-1 tc">不限</div>
							</div>
							
						</div>
						
						
						<!--
	                    	描述：商品列表
	                    -->
						<div>
							<div class="">
								<div class="shop-goods">
									<div class="shop-goods-item">
										<div>
											<div class="">
												<img src=""/>
											</div>
											<div class="" style="background: rgba(0,0,0,0.3);">
												<p class="ellipsis-2">小银水果酒</p>
											</div>
										</div>
										<div class="shop-message">
											<p>销量</p>
											<div class="price-red-box"><span class="price-red"><em>￥</em><span class="f16">148</span></span>&nbsp;起</div>
											<button type="button" class="btn btn-danger">立即购买</button>
										</div>
									</div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
							<div></div>
							<div></div>
						</div>
						
						
						</div>
						<div class="content-width-right">
							<div class="products-selected">
								<div class="">
									<h4>商品精选</h4>
									<img src="" alt="图片"/>
								</div>
								<div class="m-bbox-cont">
									<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 680px;"><div class="best-slider m-bbox-slider" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -680px, 0px);"><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000075790" target="_blank"><img src="/ueditor/getFileByFileKey/main0a74db1b3ff94d5faa70bd7dce2393f6"></a>
												</p>
												<p class="sw-hd-txt">¥8.0  &nbsp; &nbsp;&nbsp;&nbsp;庄子 红花醋红瓶（488ml）</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000383726" target="_blank"><img src="/ueditor/getFileByFileKey/main906959e979cc4d4f9ff6010982d34797"></a>
												</p>
												<p class="sw-hd-txt">¥68.0  &nbsp; &nbsp;&nbsp;&nbsp;麦尔嘉 椒麻鸡1200g</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000069116" target="_blank"><img src="/ueditor/getFileByFileKey/main41a77f65e0844ac5aa62f8745d02c6a5"></a>
												</p>
												<p class="sw-hd-txt">¥38.0  &nbsp; &nbsp;&nbsp;&nbsp;自助饺子</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000066554" target="_blank"><img src="/ueditor/getFileByFileKey/main8d9a2635edee45a2a8e1ff8f778f2cea"></a>
												</p>
												<p class="sw-hd-txt">¥86.0  &nbsp; &nbsp;&nbsp;&nbsp;自助晚餐一位</p>
											</div>
										</div>
								
									
								
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000365352" target="_blank"><img src="/ueditor/getFileByFileKey/main0eb12cc5d4594b41b7e06aa39cb83f81"></a>
												</p>
												<p class="sw-hd-txt">¥3.0  &nbsp; &nbsp;&nbsp;&nbsp;烤包子 外酥里嫩</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000072957" target="_blank"><img src="/ueditor/getFileByFileKey/mainc0624268ce22410795917c25ec47c325"></a>
												</p>
												<p class="sw-hd-txt">¥24.0  &nbsp; &nbsp;&nbsp;&nbsp;千驹 熏马肉(180g)</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000075776" target="_blank"><img src="/ueditor/getFileByFileKey/mainb822b3dc64f144e8ba90ad13b4bbf43f"></a>
												</p>
												<p class="sw-hd-txt">¥11.0  &nbsp; &nbsp;&nbsp;&nbsp;庄子 大蒜醋(488ml)</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000071469" target="_blank"><img src="/ueditor/getFileByFileKey/main0763932676224ac4b44d67ea07dcb020"></a>
												</p>
												<p class="sw-hd-txt">¥29.9  &nbsp; &nbsp;&nbsp;&nbsp;伊帕尔汗 薰衣草水嫩滋养护手霜(40g)</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000075790" target="_blank"><img src="/ueditor/getFileByFileKey/main0a74db1b3ff94d5faa70bd7dce2393f6"></a>
												</p>
												<p class="sw-hd-txt">¥8.0  &nbsp; &nbsp;&nbsp;&nbsp;庄子 红花醋红瓶（488ml）</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000383726" target="_blank"><img src="/ueditor/getFileByFileKey/main906959e979cc4d4f9ff6010982d34797"></a>
												</p>
												<p class="sw-hd-txt">¥68.0  &nbsp; &nbsp;&nbsp;&nbsp;麦尔嘉 椒麻鸡1200g</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000069116" target="_blank"><img src="/ueditor/getFileByFileKey/main41a77f65e0844ac5aa62f8745d02c6a5"></a>
												</p>
												<p class="sw-hd-txt">¥38.0  &nbsp; &nbsp;&nbsp;&nbsp;自助饺子</p>
											</div>
										</div>
										
										<div class="slide" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000066554" target="_blank"><img src="/ueditor/getFileByFileKey/main8d9a2635edee45a2a8e1ff8f778f2cea"></a>
												</p>
												<p class="sw-hd-txt">¥86.0  &nbsp; &nbsp;&nbsp;&nbsp;自助晚餐一位</p>
											</div>
										</div>
										
										
					
									<div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000365352" target="_blank"><img src="/ueditor/getFileByFileKey/main0eb12cc5d4594b41b7e06aa39cb83f81"></a>
												</p>
												<p class="sw-hd-txt">¥3.0  &nbsp; &nbsp;&nbsp;&nbsp;烤包子 外酥里嫩</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000072957" target="_blank"><img src="/ueditor/getFileByFileKey/mainc0624268ce22410795917c25ec47c325"></a>
												</p>
												<p class="sw-hd-txt">¥24.0  &nbsp; &nbsp;&nbsp;&nbsp;千驹 熏马肉(180g)</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000075776" target="_blank"><img src="/ueditor/getFileByFileKey/mainb822b3dc64f144e8ba90ad13b4bbf43f"></a>
												</p>
												<p class="sw-hd-txt">¥11.0  &nbsp; &nbsp;&nbsp;&nbsp;庄子 大蒜醋(488ml)</p>
											</div>
										</div><div class="slide bx-clone" style="float: none; list-style: none; position: relative; width: 248px;">
											<div class="sw-hd-box">
												<p class="sw-hd-img">
													<a href="/front/productDetail?skuNo=0000071469" target="_blank"><img src="/ueditor/getFileByFileKey/main0763932676224ac4b44d67ea07dcb020"></a>
												</p>
												<p class="sw-hd-txt">¥29.9  &nbsp; &nbsp;&nbsp;&nbsp;伊帕尔汗 薰衣草水嫩滋养护手霜(40g)</p>
											</div>
										</div></div></div>
									</div>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
			</div>
			
			
			
			<div id="">
				<div id="">
					
				</div>
			</div>
			
			
			<div id="footer">
				<div class="ft-content" style="width: 1180px">
					<div class="ft-info clearfix">
						<dl class="footer-item advantage  ft-info-col">
							<dd>
								<div class="advan-item advan-server">
									<div class="advan-img">
										<i class="icon icon-server"></i>
									</div>
									<div class="advan-text">
										<p class="advan-title ">服务热线</p>
										<p>400-123-456</p>
									</div>
								</div>
								<div class="advan-item advan-price">
									<div class="advan-img">
										<i class="icon icon-price"></i>
									</div>
									<div class="advan-text">
										<p class="advan-title" style="padding-top: 10px;">意见反馈</p>
									</div>
								</div>
								<a class="block-link" target="_blank" href="http://pages.ctrip.com/commerce/promote/201409/other/xcfw/index1.html"></a>
							</dd>
						</dl>
					    <dl class="ft-info-col ft-info-intro">
					        <dt>手游新疆旅游网</dt>
					        <dd>覆盖全疆100多个县市</dd>
					        <dd>10,000,000位旅行者</dd>
					        <dd>8030家酒店 </dd>
					        <dd>1000家新疆特色餐饮</dd>
					        <dd>手游新疆APP带您领略新疆风貌 </dd>
					    </dl>
					    <dl class="ft-info-col ft-info-about">
					        <dt>关于我们</dt>
					        <dd><a href="http://www.mafengwo.cn/s/about.html" rel="nofollow">关于手游新疆</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/contact.html" class="" rel="nofollow">联系我们</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/private.html" rel="nofollow">隐私政策</a><a href="http://www.mafengwo.cn/s/logo.html" rel="nofollow" class="m_l_10">商标声明</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/agreement.html" rel="nofollow">商标声明</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/salesagreement.html" rel="nofollow">新疆非遗入驻协议</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/property.html" rel="nofollow">商城平台服务协议</a></dd>
					        <dd><a href="http://www.mafengwo.cn/s/sitemap.html" target="_blank">网站地图</a></dd>
					    </dl>
					    <dl class="ft-info-col ft-info-service">
					        <dt>快速导航</dt>
					        <dd>
					            <ul class="clearfix">
					                <li><a target="_blank" href="http://www.mafengwo.cn/gonglve/">门票购买</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/hotel/">线路选择</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/sales/">旅游特价</a></li>
					                <li><a target="_blank" href="http://zuche.mafengwo.cn/">租车服务</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/wenda/">旅游问答</a></li>
					                <li><a target="_blank" href="http://huoche.mafengwo.cn">订火车票</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/insure/">订购机票</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/travel-news/">旅游资讯</a></li>
					                <li><a target="_blank" href="http://www.mafengwo.cn/app/intro/gonglve.php">APP下载</a></li>
					            </ul>
					        </dd>
					    </dl>
					    <dl class="ft-info-col ft-info-qrcode">
					    	<dd>
					        	<p class="f14 f_w_bold cfff">手游新疆公众号</p>
					            <span class="ft-qrcode-weixin" style="background: url(../../img/public-end-ewm-2.jpg) no-repeat center"></span>
					            <p class="f12 cfff">快来关注我吧</p>
					        </dd>
					        <dd>
					        	<p class="f14 f_w_bold cfff" >手游新疆APP</p>
					            <span class="ft-qrcode-tejia" style="background: url(../../img/public-end-ewm-1.jpg) no-repeat center"></span>
					            <p class="f12 cfff">下载有惊喜哦</p>
					        </dd>
					        
					    </dl>
					    <dl class="ft-info-social">
					        <dt>旅游之前，先上马蜂窝！</dt>
					        <dd>
					            <a class="ft-social-weibo" target="_blank" href="http://weibo.com/mafengwovip" rel="nofollow"><i class="ft-social-icon"></i></a>
					            <a class="ft-social-qqt" target="_blank" href="http://t.qq.com/mafengwovip" rel="nofollow"><i class="ft-social-icon"></i></a>
					            <a class="ft-social-qzone" target="_blank" href="http://1213600479.qzone.qq.com/" rel="nofollow"><i class="ft-social-icon"></i></a>
					        </dd>
					    </dl>
					</div>
					
					<div class="ft-copyright">
					    <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
					    <p>© 2020 Mafengwo.cn
					        <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a>
					        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502013401" target="_blank"><img src="https://images.mafengwo.net/images/footer/police_record.png" width="12" style="margin:0 2px 4px 0;">京公网安备11010502013401号</a>
					        <a href="https://n1-q.mafengwo.net/s15/M00/64/87/CoUBGV3kqumAeVrFACbyLaOgHIw41.jpeg" target="_blank" rel="nofollow">京ICP证110318号</a>
					        <span class="m_l_10">违法和不良信息举报电话: 010-83416877 举报邮箱: mfwjubao@mafengwo.com</span>
					    </p>
					    <p>
					        <a href="https://n2-q.mafengwo.net/s14/M00/CB/4C/wKgE2l1eMB-AFs0sAB7jJAiDaNA17.jpeg" target="_blank" rel="nofollow" class="m_l_10">网络出版服务许可证</a>
					        <a href="https://p1-q.mafengwo.net/s15/M00/E3/41/CoUBGV3o1UiAUa97ABeYqOVxjw097.jpeg" target="_blank" rel="nofollow" class="m_l_10">增值电信业务经营许可证</a>
					        <a href="https://p1-q.mafengwo.net/s14/M00/B0/74/wKgE2l1CgbCAXc97ACZLiibfY8M62.jpeg" target="_blank" rel="nofollow" class="m_l_10">营业执照</a>
					        <a href="https://b1-q.mafengwo.net/s15/M00/E3/B3/CoUBGV3o1YCAf7Y1ABamQYdOYTg77.jpeg" target="_blank" rel="nofollow" class="m_l_10">广播电视节目制作经营许可证</a>
					        <a href="/sales/uhelp/doc" target="_blank" rel="nofollow" class="m_l_10">帮助中心</a>
					        <span class="m_l_10">马蜂窝客服：国内</span><span class="highlight">4006-345-678</span>
					        <span class="m_l_10">海外</span> <span class="highlight">+86-10-8341-6888</span>
					    </p>
					</div>
					<div class="ft-safety">
					    <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&amp;ct=df&amp;a=1&amp;pa=787189" target="_blank" rel="nofollow"></a>
					    <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
					    <a class="s-d" href="http://www.itrust.org.cn/Home/Index/satification_certificate/wm/MY2019051501.html" target="_blank" rel="nofollow"></a>
					</div>
			
				</div>
			</div>
			
			
			
		</div>
		
		
		
		<script src="../../js/jquery/jquery.js"></script>
		<script src="../../js/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/swiper/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript ">
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: true,//可选选项，自动滑动
			})
		</script> 
	</body>

</html>
