<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文娱列表页</title>
</head>
<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/swiper.min.css">
<link rel="stylesheet" href="../../css/Scenic/Scenic_spot.css">
<link rel="stylesheet" href="../../css/Line/Line_shop_classification.css">
<style>
    .search span {
        width: 78px;
    }

    .Best_Sellers_list figure .Scenic_price {
        width: 202px;
        display: flex;
        margin: 0;
        text-align: left;
    }

    .Best_Sellers_list figure .Scenic_price>div:last-of-type button {
        border: solid 1px transparent;
        text-align: center;
        width: 90px;
        height: 30px;
        background: #ee5555;
        color: #fff;
        margin-top: 10px;
        margin-left: 31px;
    }

    .Best_Sellers_list figure .rob {
        text-align: left;
        margin: 0;
    }

    .Best_Sellers_list figure {
        margin-right: 20px;
        height: 238px;
        background: #fff;
        margin-top: 20px;
        width: 202px;
        position: relative;
    }

    .zhezhao {
        position: absolute;
        color: #fff;
        font-size: 12px;
        bottom: 88px;
        height: 20px;
        background: rgb(0, 0, 0, 0.4);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .Star_class {
        position: absolute;
        background: red;
        top: 0;
        width: 80px;
        height: 20px;
    }

    .Best_Sellers_list figure:nth-of-type(4)~figure {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .Best_Sellers_list figure:nth-of-type(1)~figure:nth-of-type(4) {
        margin-bottom: 30px;
    }

    .Best_Sellers_list figure .Star_class img {
        width: 15px;
        height: 15px;
    }

    .content_details_right_shop_list>figure {
        width: 224px;
        height: 236px;
        position: relative;
    }

    .hotzhezhao {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 4;
        font-size: 12px;
        width: 204px;
        position: absolute;
        height: 43px;
        background: rgba(0, 0, 0, 0.25);
        color: #fff;
        bottom: 66px;
        left: 13px;
        padding: 0 10px;

    }

    .sort {
        position: absolute;
        top: 0;
        left: 13px;
        width: 45px;
        height: 20px;
        padding: 5px 10px 5px 21px;
        background: #ff5555;
        color: #fff;
        border-bottom-right-radius: 10px;
    }

    .right_title {
        color: #008ada;
        font-size: 18px;
        border-bottom: solid 2px #008ada;
    }

    .content_details_left_classification,
    .content_details_left_Grade {
        display: flex;
        line-height: 2.5;
    }

    .content_details_left_classification>div span,
    .content_details_left_Grade span {
        padding: 0 10px;
    }

    .content_details_left_classification span:hover,
    .content_details_left_Grade span:hover {
        color: #ff5555;
        cursor: pointer;
    }

    .content_details .content_details_left {
        flex: 8;
        height: 1140px;
        /* border: solid 1px #000; */
        margin-right: 30px;
        box-shadow: 0px 0px 0px #888888;
    }

    .content_details_right_shop_list>figure:nth-of-type(3)~figure {
        display: none;
    }
</style>

<body>
    <nav>
        <div class="nav_title">
            <div class="nav_title_head">
                <p class="nav_title_city"><span>2019年12月10号 星期二 </span><span>新疆天池 晴 低温 -6℃~高温3℃ 微风2级</span></p>
                <div class="nav_title_city fujian"><a href="#">登录</a><span class="fenge">|</span><a class="fenge"
                        href="#">注册</a><a href="#">收藏<div class="sjx"></div></a><a href="#">购物车<div class="sjx"></div>
                    </a><a href="#">客服<div class="sjx"></div></a>
                    <div class="login1"><img src="../../img/public-top-icon-mobile.png" alt=""></div>
                    <div class="login2"><img src="../../img/public-top-icon-wx.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_list">
                <div class="nav_list_logo">
                    <img src="../../img/public-top-logo.png" alt="">
                </div>
                <span class="fgx"></span>
                <ul class="nav_list_go">
                    <li><a href="#">首页<span class="sjx"></span></a></li>
                    <li><a href="#">地域馆<span class="sjx"></span></a></li>
                    <li><a href="#">特产<span class="sjx"></span></a></li>
                    <li><a href="#">美食<span class="sjx"></span></a></li>
                    <li><a href="#">酒店<span class="sjx"></span></a></li>
                    <li><a href="#">景区<span class="sjx"></span></a></li>
                    <li><a href="#">线路<span class="sjx"></span></a></li>
                    <li><a href="#">文娱<span class="sjx"></span></a></li>
                    <li><a href="#">六觉新疆<span class="sjx"></span></a></li>
                </ul>
                <div class="search">
                    <input type="text" placeholder="搜索目的地/景区/酒店"><span><img src="../../img/public-icon-soo.png"
                            alt=""></span>
                </div>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../img/public-banner-01.jpg" alt=""></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next  swiper-button-black"></div>
        </div>
    </div>
    <input type="text" style="display: none;" class="cat" value="">
    <div class="content">
        <div class="content_nav">
            <ul class="breadcrumb">
                <li class="active"><img src="../../img/lb_icon_home.png" alt="">您现在所在的位置:</li>
                <li class="home"><a href="#">首页</a> <span class="divider">/</span></li>
                <li class="active">文娱列表页</li>
            </ul>
        </div>
        <div class="content_details">
            <div class="content_details_left">
                <div>
                    <div class="content_details_left_classification public_background ">
                        <font>文娱分类:</font>
                        <div>
                            <span class="No" categoryUuid="e788c0865d5d4e2bb8078943dd9208ca">不限</span><span
                                class="public_background_active">伊人</span><span>魅力出演</span>
                        </div>
                    </div>
                    <div class="feng"></div>
                    <div class="content_details_left_Grade  public_background">
                        <font>文娱细分:</font>
                        <div>
                            <span>不限</span><span>大型歌舞</span><span>相声/曲艺</span><span
                                class="public_background_active">酒吧/KTV</span><span>影院</span><span>演绎吧</span>

                        </div>

                    </div>
                    <div class="content_details_left_sort public_background">
                        <span id="score">综合排序</span><span id="sales">销量<img src="../../img/lb_icon_s_n.png" alt=""><img
                                src="../../img/lb_icon_j_n.png" alt=""></span><span id="commentCount">评论数<img
                                src="../../img/lb_icon_s_n.png" alt=""><img src="../../img/lb_icon_j_n.png"
                                alt=""></span><span id="shelveTime">最新发布<img src="../../img/lb_icon_s_n.png" alt=""><img
                                src="../../img/lb_icon_j_n.png" alt=""></span><span id="lowestPrice">价格<img
                                src="../../img/lb_icon_s_n.png" alt=""><img src="../../img/lb_icon_j_n.png"
                                alt=""></span><input type="text" class="Small price_style" placeholder="¥">--<input
                            type="text" class="large price_style" placeholder="¥">
                        <font style="margin-left: 6px;">关键字</font><input type="text" class="keyword price_style">
                        <button class="Determine">确定</button>
                        <button class="cancel">取消</button>
                        </p>
                    </div>
                    <div class="content_details_left_banner">
                        <div class="Best_Sellers_list">
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure>
                                <img src="../../img/dp-pic-03-224x170.jpg" alt="">
                                <div class="zhezhao">飞人真人演出</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>56
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>1899</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button>立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>

                        </div>
                        <div class="paging">
                            <div class="pagination pagination-centered">
                                <ul>
                                    <li><a href="#">&lt;</a>
                                    </li>
                                    <li><a href="#">1</a></li>

                                    <li><a href="#">></a></li>
                                </ul>
                            </div>
                            <div class="fenye">共<font>1</font>页,到第<input type="text">页 <button class="jump">确定</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="content_details_right">
                <p class="content_details_right_shop">
                    <span class="right_title">商品精选
                        <img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>

                </p>
                <div class="content_details_right_shop_list">
                    <figure>
                        <img src="../../img/lb-pic-left-01-202x150.jpg" alt="">
                        <figcaption>
                            <p class="content_details_right_price">
                                <font>¥<em>1899</em>起 </font><button class="add">立即抢购</button>
                            </p>
                        </figcaption>
                        <div class="hotzhezhao">
                            罗卜伯大海三日游
                        </div>
                    </figure>
                    <figure>
                        <img src="../../img/lb-pic-left-01-202x150.jpg" alt="">
                        <figcaption>
                            <p class="content_details_right_price">
                                <font>¥<em>1899</em>起 </font><button class="add">立即抢购</button>
                            </p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="../../img/lb-pic-left-01-202x150.jpg" alt="">
                        <figcaption>
                            <p class="content_details_right_price">
                                <font>¥<em>1899</em>起 </font><button class="add">立即抢购</button>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="Advertisement">
                    <img src="../../img/lb_pic_gg_260x218.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="contact">
            <ul class="Hotline">
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-phone.png" alt="">
                    <div>
                        <p>服务热线</p>
                        <p>400-123-456</p>
                    </div>
                </li>
                <li class="Hotline_line">
                    <img src="../../img/public-end-icon-mail.png" alt="">
                    <p style="line-height: 2.9;">意见反馈</p>
                </li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">手游新疆旅游网</li>
                <li>覆盖全疆100多个县</li>
                <li>10,000,000</li>
                <li>8030家酒店</li>
                <li>1000家新疆特色餐饮</li>
                <li>手游新疆APP带您领略新疆风貌</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">关于我们</li>
                <li>关于手游新疆</li>
                <li>联系我们</li>
                <li>隐私政策</li>
                <li>商标声明</li>
                <li>新疆非遗入住协议</li>
                <li>商城平台服务协议</li>
                <li>网站地图</li>
            </ul>
            <ul class="Opinion">
                <li class="first_title">快速导航</li>
                <li>门票购买</li>
                <li>线路选择</li>
                <li>旅游特价</li>
                <li>租车服务</li>
                <li>旅游问答</li>
                <li>订火车票</li>
                <li>订购机票</li>
                <li>旅游保险</li>
                <li>旅游资讯</li>
                <li>APP下载</li>
            </ul>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆App</p>
                <img src="../../img/public-end-ewm-1.jpg" alt="">
                <p class="QR_code_content">下载有惊喜哦</p>
            </div>
            <div class="QR_code">
                <p class="first_title" style="margin-bottom: 13px;">手游新疆公众号</p>
                <img src="../../img/public-end-ewm-2.jpg" alt="">
                <p class="QR_code_content">快来关注我吧</p>
            </div>

        </div>
        <div class="link">
            <p>集团网站:<span>手游新疆资讯网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span>
            </p>
            <p>友情链接:<span>百度网旅游</span>
                <span>途牛网旅游</span>
                <span>人民网旅游</span>
                <span>奇艺旅游</span>
            </p>
        </div>
        <div class="website">
            <div class="love">
                <p>新疆的旅游路上,我们一直都在</p>
                <p><img src="../../img/public-end_icon-1.png" alt=""><img src="../../img/public-end_icon-2.png"
                        alt=""><img src="../../img/public-end_icon-3.png" alt=""></p>
            </div>
            <div class="Development">
                <p><img src="../../img/public-bot-logo.png" alt=""></p>
                <p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com) 版权所有</span><span>新ICP备18001279号-1</span></p>
                <p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050
                    </span></p>
            </div>
        </div>

    </footer>
</body>
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/swiper.min.js"></script>

</html>
<script>
    var num = 1;
    var sortBy = 'score';
    var sortType = "1";
    (function () {
        $(".cat").val("e788c0865d5d4e2bb8078943dd9208ca")
        $(".content_details_left_Grade").hide();
        url = "http://www.shouyouxinjiang.com/frontshow/productlist/productList";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: url,//地址
            dataType: 'json',
            data: {
                "cat": "e788c0865d5d4e2bb8078943dd9208ca"
            },
            //请求成功
            success: function (data) {
                var listStr = '';
                var nav = '';
                var productList = data.wm.productList;
                var cateList = data.wm.cateList;
                console.log(data.wm)
                console.log(data.wm.productList)
                for (var s = 0; s < cateList.length; s++) {
                    nav += `<span categoryUuid="` + cateList[s].uuid + `">` + cateList[s].categoryName + `</span>`;
                    $(".content_details_left_classification>div").html(nav)
                }
                //追加
                // $(".content_details_left_classification>div").append(' <span class="No"  categoryUuid="e788c0865d5d4e2bb8078943dd9208ca">不限</span>')
                for (var i = 0; i < productList.length; i++) {
                    listStr += `<figure>
                                <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].pic + ` " alt="">
                                <div class="zhezhao">`+ productList[i].productName + `</div>
                                <figcaption>
                                    <div class="Scenic_price">
                                        <div>
                                            <p> <span class="rob">销量<font>`+ productList[i].sales + `
                                                    </font></span></p>
                                            <p>
                                                <font>¥<em>`+ productList[i].price + `</em><span style="color: #666; width: 10px;"></span>
                                                </font>
                                            </p>
                                        </div>
                                        <div><button  name="`+ productList[i].uuid+`">立即购买</button></div>
                                    </div>
                                </figcaption>
                            </figure>`;
                    $(".Best_Sellers_list").html(listStr)
                }
            }
        })
        hotList()
    }())
    //排序
    $(".content_details_left_sort").find("span").hover(function () {
        $(this).css("background", "#fafafa").css("color", "red")
    }, function () {
        $(this).css("background", "#fff").css("color", "#000")
    })
    //移入效果
    $(".content_details_right_shop_list").find("figure").hover(function () {
        $(this).addClass("biankuang")
    }, function () {
        $(this).removeClass("biankuang")
    })
    $(".Best_Sellers_list").find("figure").hover(function () {
        $(this).addClass("biankuang")
    }, function () {
        $(this).removeClass("biankuang")
    })

    //切换效果
    $(".content_details_left_classification").find("span").click(function () {
        $(this).siblings().removeClass("public_background_active")
        $(this).addClass("public_background_active");
        var categoryUuid = $(this).attr("categoryUuid");
        console.log(categoryUuid)
        $(".cat").val(categoryUuid)
        url = "http://www.shouyouxinjiang.com/frontshow/productlist/productList";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: url,//地址
            dataType: 'json',
            data: {
                "cat": categoryUuid
            },
            //请求成功
            success: function (data) {
                $(".Best_Sellers_list").html('')
                console.log(data,888888888888888888888888888888888888888888888888888)
                var listStr = '';
                var nav = '';
                var productList = data.wm.productList;
                var cateList = data.wm.cateList;
                if (cateList == '') {
                    $(".content_details_left_Grade").hide();
                } else {
                    $(".content_details_left_Grade").show();
                    for (var s = 0; s < cateList.length; s++) {
                        nav += `<span categoryUuid="` + cateList[s].uuid + `">` + cateList[s].categoryName + `</span>`;
                        $(".content_details_left_Grade>div").html(nav)
                    }
                }
                if (data.wm.productList == '') {
                    $('.paging').hide()
                    $(".Best_Sellers_list").html('<p style=" text-align: center; margin:20px auto; font-size:18px;">很抱歉、没有搜到您想要的商品……</p>')
                } else {
                    $('.paging').show()
                    for (var i = 0; i < productList.length; i++) {
                        listStr += ` <figure>
                                    <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].pic + ` " alt="">
                                    <div class="zhezhao">`+ productList[i].uuid + `</div>
                                    <figcaption>
                                        <div class="Scenic_price">
                                            <div>
                                                <p> <span class="rob">销量<font>`+ productList[i].sales + `
                                                        </font></span></p>
                                                <p>
                                                    <font>¥<em>`+ productList[i].price + `</em><span style="color: #666; width: 10px;"></span>
                                                    </font>
                                                </p>
                                            </div>
                                            <div><button  name="`+ productList[i].uuid+`">立即购买</button></div>
                                        </div>
                                    </figcaption>
                                </figure>`;
                        $(".Best_Sellers_list").html(listStr)
                    }

                }
            }
        })
    })

    $(".content_details_left_Grade").on("click", "span", function () {
        $(this).siblings().removeClass("public_background_active")
        $(this).addClass("public_background_active");
        var categoryUuid = $(this).attr("categoryUuid");
        $(".cat").val("categoryUuid")
        console.log(categoryUuid)
        url = "http://www.shouyouxinjiang.com/frontshow/productlist/productList";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: url,//地址
            dataType: 'json',
            data: {
                "cat": categoryUuid
            },
            //请求成功
            success: function (data) {
                $(".Best_Sellers_list").html('')
                console.log(data)
                var listStr = '';
                var nav = '';
                var productList = data.wm.productList;
                var cateList = data.wm.cateList;
                if (data.wm.productList == '') {
                    $('.paging').hide()
                    $(".Best_Sellers_list").html('<p style=" text-align: center; margin:20px auto; font-size:18px;">很抱歉、没有搜到您想要的商品……</p>')
                } else {
                    $('.paging').show()
                    for (var i = 0; i < productList.length; i++) {
                        listStr += ` <figure>
                                    <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].pic + ` " alt="">
                                    <div class="zhezhao">`+ productList[i].productName + `</div>
                                    <figcaption>
                                        <div class="Scenic_price">
                                            <div>
                                                <p> <span class="rob">销量<font>`+ productList[i].sales + `
                                                        </font></span></p>
                                                <p>
                                                    <font>¥<em>`+ productList[i].price + `</em><span style="color: #666; width: 10px;"></span>
                                                    </font>
                                                </p>
                                            </div>
                                            <div><button  name="`+ productList[i].uuid+`">立即购买</button></div>
                                        </div>
                                    </figcaption>
                                </figure>`;
                        $(".Best_Sellers_list").html(listStr)
                    }

                }
            }
        })



    })

    //排序图片
    $(".content_details_left_sort").find("span").click(function () {
        sortBy = $(this).prop("id");
        num++;
        if (num % 2) {
            sortType = 1;
            console.log(sortType)
            $(this).find("img:first").attr("src", "../../img/lb_icon_s_click.png")
            $(this).find("img:last").attr("src", "../../img/lb_icon_j_n.png")
            $(this).siblings().find("img:first").attr("src", "../../img/lb_icon_s_n.png")
            $(this).siblings().find("img:last").attr("src", "../../img/lb_icon_j_n.png")
        } else {
            sortType = 2;
            console.log(sortType)
            $(this).find("img:first").attr("src", "../../img/lb_icon_s_n.png")
            $(this).find("img:last").attr("src", "../../img/lb_icon_j_click.png")
            $(this).siblings().find("img:first").attr("src", "../../img/lb_icon_s_n.png")
            $(this).siblings().find("img:last").attr("src", "../../img/lb_icon_j_n.png")
        }
        sortB(sortType, sortBy)

    })




    //排序
    function sortB(sortType, sortBy) {
        console.log(sortType, sortBy)
        var sea = $(".cat").val()
        console.log(sea)
        var listStr = "";
        urlhot = "http://www.shouyouxinjiang.com/frontshow/productlist/ajaxProductList";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: urlhot,//地址
            dataType: 'json',
            async: false,
            data: {
                cat: sea,
                sortType: sortType,
                sortBy: sortBy,
                keyword: "",
                attrValue: "",
                nowPage: 1,
                pageShow: 12
                // ranNum: Math.random()
            },
            //请求成功
            success: function (data) {
                console.log(data)
                var listStr = '';
                var productList = data.wm.productList;
                console.log(productList)
                if (productList == '') {
                    $(".Best_Sellers_list").html("很抱歉、没有搜到您想要的商品……");
                    $(".paging").hide()
                } else {
                    $(".paging").show()
                    for (var i = 0; i < productList.length; i++) {
                        listStr += `<figure>
                                    <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].pic + ` " alt="">
                                    <div class="zhezhao">`+ productList[i].productName + `</div>
                                    <figcaption>
                                        <div class="Scenic_price">
                                            <div>
                                                <p> <span class="rob">销量<font>`+ productList[i].sales + `
                                                        </font></span></p>
                                                <p>
                                                    <font>¥<em>`+ productList[i].price + `</em><span style="color: #666; width: 10px;"></span>
                                                    </font>
                                                </p>
                                            </div>
                                            <div><button  name="`+ productList[i].uuid+`">立即购买</button></div>
                                        </div>
                                    </figcaption>
                                </figure>
                    `;
                        $(".Best_Sellers_list").html(listStr);
                    }
                }
            }
        })
    }

    //关键字搜索
    $(".Determine").click(function () {
        var startPrice = $(".Small").val();
        var endPrice = $(".large").val();
        var keyword = $(".keyword").val();

        var cat = $(".cat").val()
        listStr = "";
        Search = "http://www.shouyouxinjiang.com/frontshow/productlist/ajaxProductList";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: Search,//地址
            dataType: 'json',
            async: false,
            data: {
                cat: cat,
                startPrice: startPrice,
                endPrice: endPrice,
                sortType: sortType,
                sortBy: sortBy,
                keyword: keyword,
                attrValue: "",
                nowPage: 1,
                pageShow: 12
                // ranNum: Math.random()
            },
            //请求成功
            success: function (data) {
                console.log(data,'eqwewqeqweqweqweqeqeqeq')
                var productList = data.wm.productList;
                if (productList == '') {

                    $(".Best_Sellers_list").html('<p style=" text-align: center; margin:20px auto; font-size:18px;">很抱歉、没有搜到您想要的商品……</p>');
                    $(".paging").html("")
                } else {
                    for (var i = 0; i < productList.length; i++) {
                        listStr += `<figure>
                                    <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/` + productList[i].pic + ` " alt="">
                                    <div class="zhezhao">`+ productList[i].productName + `</div>
                                    <figcaption>
                                        <div class="Scenic_price">
                                            <div>
                                                <p> <span class="rob">销量<font>`+ productList[i].sales + `
                                                        </font></span></p>
                                                <p>
                                                    <font>¥<em>`+ productList[i].price + `</em><span style="color: #666; width: 10px;"></span>
                                                    </font>
                                                </p>
                                            </div>
                                            <div><button name="`+ productList[i].uuid+`">立即购买</button></div>
                                        </div>
                                    </figcaption>
                                </figure>
                            `;
                        $(".Best_Sellers_list").html(listStr)
                    }
                }
            }
        })

    })
    function hotList() {
        var hostListStr = '';
        urlhot = "http://www.shouyouxinjiang.com/product/detail/getHotProductData";
        $.ajaxSettings.async = false;
        $.ajax({
            type: 'get',//类型
            url: urlhot,//地址
            dataType: 'json',
            async: false,
            data: {
                "cat": "33306aaad7b445c79a6a0196cb2676d4"
                // ranNum: Math.random()
            },
            //请求成功
            success: function (data) {
                var index = 1;
                console.log(data)
                var hotList = data.hotList;
                // console.log(hotList)
                for (var i = 0; i < hotList.length; i++) {
                    hostListStr += `<figure>
                        <img src="http://www.shouyouxinjiang.com/ueditor/getFileByFileKey/`+ hotList[i].imageKey + `" alt=""  onerror="javascript:this.src='../../img/nopic.gif'">
                        <figcaption>
                            <p class="content_details_right_price">
                                <font>¥<em>`+ hotList[i].price + `</em>起 </font><button class="add"  name="` + hotList[i].skuNo + `" >立即抢购</button>
                            </p>
                        </figcaption>
                        <div class="hotzhezhao">`+ hotList[i].productName + `</div>
                        <div class="sort">No.<span>`+ (index++) + `</span></div>
                    </figure>
                            `;
                    $(".content_details_right_shop_list").html(hostListStr);

                }

            }
        })
    }
    $("figure").on("click","button",function(){
        console.log(132)
        var skuNo = $(this).prop("name");
        console.log(skuNo);
        sessionStorage.setItem('skuNo', JSON.stringify(skuNo));
        location.href = "./Entertainment-details.html?skuNo="+skuNo;
    })

    var mySwiper = new Swiper('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            disableOnInteraction: false, //手动滑动之后不打断播放
            delay: 2000
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },


    })
    var options = {
        alignment: "center",//居中显示
    }
</script>