<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>景区详情页</title>
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css" />
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/common/public.css" />
	<link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/swiper/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
	<link rel="stylesheet" type="text/css" href="../../css/specialty/specialty-list.css" />
	<link rel="stylesheet" type="text/css" href="../../css/details/datails.css" />
	<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/Scenic/Scenic_spot.css">
	<link rel="stylesheet" href="../../css/Scenic/Scenic-details.css">
	<style>

	</style>
</head>

<body>
	<nav>
		<div class="nav_title">
			<div class="nav_title_head">
				<p class="nav_title_city"><span>2019年12月10号 星期二 </span><span>新疆天池 晴 低温 -6℃~高温3℃ 微风2级</span></p>
				<div class="nav_title_city fujian"><a href="#">登录</a><span class="fenge">|</span><a class="fenge"
						href="#">注册</a><a href="#">收藏<div class="sjx"></div></a><a href="#">购物车<div class="sjx"></div>
					</a><a href="#">客服<div class="sjx"></div></a>
					<div class="login1"><img src="../../img/public-top-icon-mobile.png" alt=""></div>
					<div class="login2"><img src="../../img/public-top-icon-wx.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="nav">
			<div class="nav_list">
				<div class="nav_list_logo">
					<img src="../../img/public-top-logo.png" alt="">
				</div>
				<span class="fgx"></span>
				<ul class="nav_list_go">
					<li><a href="#">首页<span class="sjx"></span></a></li>
					<li><a href="#">地域馆<span class="sjx"></span></a></li>
					<li><a href="#">特产<span class="sjx"></span></a></li>
					<li><a href="#">美食<span class="sjx"></span></a></li>
					<li><a href="#">酒店<span class="sjx"></span></a></li>
					<li><a href="#">景区<span class="sjx"></span></a></li>
					<li><a href="#">线路<span class="sjx"></span></a></li>
					<li><a href="#">文娱<span class="sjx"></span></a></li>
					<li><a href="#">六觉新疆<span class="sjx"></span></a></li>
				</ul>
				<div class="search">
					<input type="text" placeholder="搜索目的地/景区/酒店"><span><img src="../../img/public-icon-soo.png"
							alt=""></span>
				</div>
			</div>
		</div>
	</nav>
	<div class="banners">
		<img src="../../img/public-banner-01.jpg" alt="">
	</div>
	<input type="text" style="display: none;" class="productUuid" value="">
	<div id="">
		<div class="content-int">
			<!--面包屑-->
			<div class="content-width">
				<div class="crumbs"><span><img src="../../img/list/lb_icon_home.png" alt="" /></span><span
						class="m_l_9"></span>您现在所在的位置：<span><a href=" ">首页</a>></span>景区详情页</div>
			</div>
			<!--左右-->
			<div class="g-box content-width" style="display:flex">
				<!--zuo-->
				<div class="g-listbox-l m-pdlist">
					<div class="top-left-img top-left-img-bg top-left-img-margin">

						<div>
							<div class="top-left-img-img"><img class="big" src="../../img/list/lb_pic_224x170.jpg"
									alt="" /></div>
							<div class="top-left-img "
								style="width:402px;margin-top: 18px;justify-content: space-between;">
								<!-- <div class="top-left-img-left left">
									<img src="../../img/details/xq_icon_sj-left.png" alt="" />
								</div> -->
								<div class="lunbo">
									<div class="swiper-wrapper" style="left: 0px;">
										<div class="first_img"><img src="../../img/details/xq_pic-100x70.jpg" alt=""
												class="top-left-img-con " />
										</div>
										<!-- <div class="last_img"><img src="../../img/details/xq_pic-100x70.jpg" alt=""
											class="top-left-img-con" />
									</div>
									<div class="last_img"><img src="../../img/details/xq_pic-100x70.jpg" alt=""
											class="top-left-img-con" />
									</div> -->

									</div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
								<!-- <div class="top-left-img-left right">
									<img src="../../img/details/xq_icon_sj-right.png" alt="" />
								</div> -->
							</div>
						</div>
						<div class="content_details_left_title">
							<p class="content_details_left_banner_title">天山天池
							</p>
							<div class="content_details_left_banner_price">
								<p>&yen;<span class="price">4380</span><b>起</b><del
										class="Market-price">门市价:&nbsp;&nbsp;&yen;&nbsp;<b>226</span></b></p>
							</div>
							<!-- <p class="content_details_left_title_content">.</p> -->
							<p class="Grade"><span>AAAA</span>景区</p>
							<div class="address">景区地址:<p>新疆·昌吉 新疆维吾尔自治区阜康市南33公里</p>
							</div>
							<div class="Times">
								<p class="Times_first">营业时间:</p>
								<p class="times_love"></p>
							</div>

							<div class="num_tick" style="margin-top: 8px">
								<a href="#PL" style="color: #000; text-decoration: none;"><span
										style="color: #008ada;">9999</span>条用户点评&nbsp;&gt;&nbsp;&nbsp;</a><span
									style="border-left: 1px solid #eaeaea;"></span>
								<span>2899</span>人购买
							</div>
							<p class="ticket_type">
								<!-- <span class="ticket_true">成人票</span><span
									class="ticket">儿童票</span><span class="ticket">优惠票</span> -->
							</p>
							<div class="Submit_collection">
								<button class="Reserve">立即预定</button><button class="xiajia">已下架</button>
								<div class="Collection"><img src="../../img/details/xq_sc_n.png" alt="">
									收藏宝贝(<span>3</span>人气)</div>
							</div>

						</div>

					</div>
					<div class="top-left-img-bg main-wrap" id="J_productdetail">
						<div class="tabbar-inner-wrap" id="detailTab">
							<div class="flex">
								<div class="mid-nav on">产品详情</div>
								<div class="mid-nav">预定须知</div>
								<div class="mid-nav mid-na">游客点评(<span class="cffea00">1</span>)</div>
							</div>
						</div>
						<div class="sub-wrap">
							<div id="product-presen" class="">
								<div class="attributes-list-item">
									<img src="../../img/details/xq_con_icon_1.png" alt="" />&nbsp;
									<span class="c008ada f16 f_w_bold">产品详情</span>
								</div>
								<div class="attributes-list-item">
									<!-- 产品详情 -->
									<div class="m_l_30 f12 c666 m_b_33" style="line-height: 20px;text-indent: 24px;">
									</div>
									<div class="tc">
										<img class="" src="../../img/details/xq_pic_con-big.jpg"
											style="width: 600px;height: 380px;" alt="" />
									</div>
								</div>
							</div>
							<br /><br />
							<div id="purchase-presen" class="">
								<div class="attributes-list-item">
									<img src="../../img/details/xq_con_icon_2.png" alt="" />&nbsp;
									<span class="c008ada f16 f_w_bold">预定须知</span>
								</div>
								<div class="attributes-list-item Reservation_notes">
									<p class="m_b_10">1.网上订票很方便，陆地边境线5600多公里，周边与俄罗斯、哈萨克斯坦、</p>
									<p class="m_b_10">2.网上订票很方便，陆地边境线5600多公里，周边与俄罗斯、哈萨克斯坦、</p>
									<p class="m_b_10">3.网上订票很方便，陆地边境线5600多公里，周边与俄罗斯、哈萨克斯坦、</p>
								</div>

							</div>
							<div id="evaluate-presen" class="">
								<div class="attributes-list-item">
									<img src="../../img/details/xq_con_icon_2.png" alt="" />&nbsp;
									<span class="c008ada f16 f_w_bold" id="PL">游客点评</span>
								</div>
								<div class="attributes-list-item flex PL"
									style="width: 94%;height: 33px;background: #F0F0F0;margin-top: 21px;">
									<div class="nav-pj m_l_10">
										<input type="radio" name="1" class="All" checked />
										<div class="m_l_7">全部评价</div>
										<div class="m_l_10 All_evaluation">(<span>2</span>)</div>
									</div>
									<div class="nav-pj">
										<input type="radio" name="1" class="Good" />
										<div class="m_l_7">好评</div>
										<div class="m_l_10 Praise">(<span>2</span>)</div>
									</div>
									<div class="nav-pj">
										<input type="radio" name="1" class="Chinese" />
										<div class="m_l_7">中评</div>
										<div class="m_l_10 Chinese_commentary">(<span>2</span>)</div>
									</div>
									<div class="nav-pj">
										<input type="radio" name="1" class="Bad" />
										<div class="m_l_7">差评</div>
										<div class="m_l_10 Negative_comment">(<span>2</span>)</div>
									</div>
									<div class="nav-pj">
										<input type="radio" name="1" class="Sun" />
										<div class="m_l_7">晒单</div>
										<div class="m_l_10 Drying_list">(<span>2</span>)</div>
									</div>
								</div>
								<div class="PL_content">
									<div class="comment-man-box">
										<div class="comment-man">
											<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
											<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
											<span class="c999 f12">会员-ma936</span>
											<div class="inline-block m_l_10">
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
											</div>
										</div>
										<div class="comment-content">
											网上订票很方便，陆地边境线5600多公里，周边与俄罗斯、哈萨克斯坦、吉尔吉斯斯坦、塔吉克斯坦、巴基斯坦、蒙古、印度、阿富汗斯坦八国接壤，在历史上是古丝绸之路的重要通道，现在是第二座“亚欧大陆桥”的必经之地，战略位置十分重要。
										</div>
										<div class="comment-icon-box">
											<img src="../../img/details/xq_pic_left_01.jpg" class="middle-img-p" />
											<img src="../../img/details/xq_pic_left_01.jpg" class="middle-img-p"
												style="margin-left: 10px;" / />
										</div>
									</div>

									<div class="comment-man-box">
										<div class="comment-man">
											<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
											<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
											<span class="c999 f12">会员-ma936</span>
											<div class="inline-block m_l_10">
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
												<img src="../../img/list/lb_icon_xing.png" />
											</div>
										</div>
										<div class="comment-content">
											网上订票很方便，陆地边境线5600多公里，周边与俄罗斯、哈萨克斯坦、吉尔吉斯斯坦、塔吉克斯坦、巴基斯坦、蒙古、印度、阿富汗斯坦八国接壤，在历史上是古丝绸之路的重要通道
										</div>
									</div>



								</div>

								<div class="paging">
									<div class="pagination pagination-centered">
										<ul>
											<li><a>&lt;</a></li>
											<li><a>1</a></li>

											<li><a>&gt;</a></li>
										</ul>
									</div>
									<div class="fenye">共<font>1</font>页,到第<input type="text">页 <button
											class="jump">确定</button>
									</div>

								</div>

							</div>

						</div>

					</div>
					<div class="top-left-img-bg box_shadow m_t_30 p_b_25">
						<div>
							<div class="m-bbox">
								<span class="right_title">本店同类商品
									<!-- 推荐酒店 -->
									<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
							</div>
							<div class="shop-list m_t_15">
								<div class="flex hotel">
									<div class="m_l_21">
										<div class=" relative">
											<img src="../../img/details/xq_pic-202x150.jpg" alt=""
												class="bootom-img-f" />
											<div class="fff-mask"></div>
										</div>
										<div class="flex m_t_15" style="width:202px;justify-content: space-between;">
											<div>
												<p class="bootom-img-p1 m_b_10">丽都酒店</p>
												<p class="bootom-img-p m_b_10">销量23</p>
											</div>
											<div class="bootom-img-d">去看看</div>
										</div>
									</div>
									<div class="m_l_21">
										<div class="relative"> <img src="../../img/details/xq_pic-202x150.jpg" alt=""
												class="bootom-img-f" /></div>
										<div class="flex m_t_15" style="width:202px;justify-content: space-between;">
											<div>
												<p class="bootom-img-p1 m_b_10">丽都酒店</p>
												<p class="bootom-img-p m_b_10">销量23</p>
											</div>
											<div class="bootom-img-d">去看看</div>
										</div>
									</div>
									<div class="m_l_21">
										<div class="relative"> <img src="../../img/details/xq_pic-202x150.jpg" alt=""
												class="bootom-img-f" /></div>
										<div class="flex m_t_15" style="width:202px;justify-content: space-between;">
											<div>
												<p class="bootom-img-p1 m_b_10">丽都酒店</p>
												<p class="bootom-img-p m_b_10">销量23</p>
											</div>
											<div class="bootom-img-d">去看看</div>
										</div>
									</div>
									<div class="m_l_21">
										<div class="relative"> <img src="../../img/details/xq_pic-202x150.jpg" alt=""
												class="bootom-img-f" /></div>
										<div class="flex m_t_15" style="width:202px;justify-content: space-between;">
											<div>
												<p class="bootom-img-p1 m_b_10">丽都酒店</p>
												<p class="bootom-img-p m_b_10">销量23</p>
											</div>
											<div class="bootom-img-d">去看看</div>
										</div>
									</div>
								</div>
							</div>
							<!--<div style="display: flex;">
								<div style="margin-left: 21px;">
									<div> <img src="../../img/details/xq_pic-202x150.jpg" alt="" class="bootom-img-f" />
									</div>
									<div style="width:202px;margin-top: 16px;display: flex;justify-content: space-between;">
										<div>
											<p class="bootom-img-p1 m_b_10">丽都酒店</p>
											<p class="bootom-img-p m_b_10">销量23</p>
										</div>
										<div class="bootom-img-d">去看看</div>
									</div>
								</div>
								<div style="margin-left: 20px;">
									<div> <img src="../../img/details/xq_pic-202x150.jpg" alt="" class="bootom-img-f" />
									</div>
									<div style="width:202px;margin-top: 16px;display: flex;justify-content: space-between;">
										<div>
											<p class="bootom-img-p1 m_b_10">丽都酒店</p>
											<p class="bootom-img-p m_b_10">销量23</p>
										</div>
										<div class="bootom-img-d">去看看</div>
									</div>
								</div>
								<div style="margin-left: 20px;">
									<div> <img src="../../img/details/xq_pic-202x150.jpg" alt="" class="bootom-img-f" />
									</div>
									<div style="width:202px;margin-top: 16px;display: flex;justify-content: space-between;">
										<div>
											<p class="bootom-img-p1 m_b_10">丽都酒店</p>
											<p class="bootom-img-p m_b_10">销量23</p>
										</div>
										<div class="bootom-img-d">去看看</div>
									</div>
								</div>
								<div style="margin-left: 20px;">
									<div> <img src="../../img/details/xq_pic-202x150.jpg" alt="" class="bootom-img-f" />
									</div>
									<div style="width:202px;margin-top: 16px;display: flex;justify-content: space-between;">
										<div>
											<p class="bootom-img-p1 m_b_10">丽都酒店</p>
											<p class="bootom-img-p m_b_10">销量23</p>
										</div>
										<div class="bootom-img-d">去看看</div>
									</div>
								</div>
							</div>-->
						</div>
					</div>
				</div>
				<div class="g-listbox-r m-pdlist">
					<div class="top-right-img-bg">

						<div class="m-bbox">
							<span class="right_title">商品精选
								<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
						</div>
						<div class="bgfff bg-yin look_look">
							<div class="g-listbox-r-child">
								<div style="position: relative;">
									<img src="../../img/details/xq_pic_con-big.jpg" alt="" class="img-left" />
									<div class="g-listbox-r-child-biao">罗布泊大海3日游(含门票)</div>
									<div class="g-listbox-r-child-head">NO.1</div>
								</div>
								<div class="shop-message" style="padding-bottom: 10px;">
									<div class="g-listbox-r-child-p"><span class="price"><span
												class="f14">&yen;</span><span class=""
												style="">1998</span></span>&nbsp;&nbsp;起</div>
									<div class="g-listbox-r-child-p2">立即抢购</div>
								</div>
							</div>
							<div style="display: flex; padding: 0 15px; margin-top: 32px;padding-bottom: 13px;">
								<div class="r-img-top"><img src="../../img/details/xq_icon_sj-bot.png" alt="" />
								</div>
								<div class="r-img-top" style="margin-left: 32px"><img
										src="../../img/details/xq_icon_sj-top.png" alt="" /></div>

							</div>

						</div>
					</div>
					<div class="top-right-img-bg m_t_30">
						<div class="m-bbox">
							<div class=" company right_title"><span>飞马智游旅行社有限公司 </span>
								<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
							</div>
							<div class="r-img-box">
								<img src="../../img/details/xq_ri_pic_129x70.jpg" alt=""
									style="width: 129px;height:70px " />
							</div>
							<div style="width: 100%; text-align: center;margin-top: 21px;color:#666;"> 店铺评分<span
									class="score" style="color: #999">4.2</span></div>
							<div style="display: flex;justify-content: space-around;color: #666666;margin-top: 22px;">
								<p>商品描述</p>
								<p>服务态度</p>
								<p>描述相符</p>
							</div>
							<div style="display: flex;justify-content: space-around;color: #FF5555;">
								<p class="describe">4.0</p>
								<p class="attitude">3.0</p>
								<p class="Coincide">5.0</p>
							</div>
							<div style="margin-top: 21px;text-align: center;padding-bottom: 30px;">
								<button class="jingru"
									style="width: 76px;height: 30px; background:#008ADA;border: none;color: white;">
									进入店铺
								</button>
								<button class="shoucang"
									style="width: 76px;height: 30px;background: #67c401;border: none;color: white;">收藏店铺</button>
							</div>
							<div>

							</div>
						</div>
						<div class="m-storesearch m_t_30">
							<div class="top-right-img-bg">
								<div class="m-bbox">
									<span class="right_title">搜本店
										<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
								</div>
								<div class="bbox-cont f-pdg-20">
									<dl class="input-dl">
										<dt>关键字：</dt>
										<dd>
											<input class="input-text" id="storeKeyword" placeholder="">
										</dd>
									</dl>
									<dl class="input-dl">
										<dt>价格：</dt>
										<dd class="twoinput clearfix">
											<input type="text" oninput="value=value.replace(/[^\d]/g,'')"  class="input-text" id="startPrice" placeholder="¥">
											<span class="line">-</span>
											<input type="text" oninput="value=value.replace(/[^\d]/g,'')"  class="input-text" id="endPrice" placeholder="¥">
										</dd>
									</dl>
									<div class="shop-btn">
										<a href="javascript:;" class="btnlink" onclick="getProductInStore()">搜索</a>
									</div>
								</div>
							</div>
						</div>

						<div class="top-right-img-bg m_t_30">

							<div class="m-bbox">
								<span class="right_title">本店分类
									<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
							</div>
						</div>
						<div class="top-right-img-bg m_t_30">
							<div class="m-bbox">
								<span class="right_title">看了又看
									<img class="biao" src="../../img/public_pic_tit_sj.png" alt=""></span>
							</div>
							<div class="bgfff bg-yin">
								<div class="g-listbox-r-child">
									<div style="position: relative;"><img src="../../img/list/lb_pic_224x170.jpg" alt=""
											class="img-left">
										<div class="g-listbox-r-child-biao">罗布泊大海3日游(含门票)</div>
									</div>
								</div>
								<div class="g-listbox-r-child">
									<div style="position: relative;"><img src="../../img/list/lb_pic_224x170.jpg" alt=""
											class="img-left">
										<div class="g-listbox-r-child-biao">罗布泊大海3日游(含门票)</div>
									</div>
								</div>
								<div class="g-listbox-r-child">
									<div style="position: relative;"><img src="../../img/list/lb_pic_224x170.jpg" alt=""
											class="img-left">
										<div class="g-listbox-r-child-biao">罗布泊大海3日游(含门票)</div>
									</div>
								</div>
							</div>


						</div>

					</div>
				</div>

			</div>

		</div>
		<footer>
			<div class="contact">
				<ul class="Hotline">
					<li class="Hotline_line">
						<img src="../../img/public-end-icon-phone.png" alt="">
						<div>
							<p>服务热线</p>
							<p>400-123-456</p>
						</div>
					</li>
					<li class="Hotline_line">
						<img src="../../img/public-end-icon-mail.png" alt="">
						<p style="line-height: 2.9;">意见反馈</p>
					</li>
				</ul>
				<ul class="Opinion">
					<li class="first_title">手游新疆旅游网</li>
					<li>覆盖全疆100多个县</li>
					<li>10,000,000</li>
					<li>8030家酒店</li>
					<li>1000家新疆特色餐饮</li>
					<li>手游新疆APP带您领略新疆风貌</li>
				</ul>
				<ul class="Opinion">
					<li class="first_title">关于我们</li>
					<li>关于手游新疆</li>
					<li>联系我们</li>
					<li>隐私政策</li>
					<li>商标声明</li>
					<li>新疆非遗入住协议</li>
					<li>商城平台服务协议</li>
					<li>网站地图</li>
				</ul>
				<ul class="Opinion">
					<li class="first_title">快速导航</li>
					<li>门票购买</li>
					<li>线路选择</li>
					<li>旅游特价</li>
					<li>租车服务</li>
					<li>旅游问答</li>
					<li>订火车票</li>
					<li>订购机票</li>
					<li>旅游保险</li>
					<li>旅游资讯</li>
					<li>APP下载</li>
				</ul>
				<div class="QR_code">
					<p class="first_title" style="margin-bottom: 13px;">手游新疆App</p>
					<img src="../../img/public-end-ewm-1.jpg" alt="">
					<p class="QR_code_content">下载有惊喜哦</p>
				</div>
				<div class="QR_code">
					<p class="first_title" style="margin-bottom: 13px;">手游新疆公众号</p>
					<img src="../../img/public-end-ewm-2.jpg" alt="">
					<p class="QR_code_content">快来关注我吧</p>
				</div>

			</div>
			<div class="link">
				<p>集团网站:<span>手游新疆资讯网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span><span>手游新疆XX网</span>
				</p>
				<p>友情链接:<span>百度网旅游</span>
					<span>途牛网旅游</span>
					<span>人民网旅游</span>
					<span>奇艺旅游</span>
				</p>
			</div>
			<div class="website">
				<div class="love">
					<p>新疆的旅游路上,我们一直都在</p>
					<p><img src="../../img/public-end_icon-1.png" alt=""><img src="../../img/public-end_icon-2.png"
							alt=""><img src="../../img/public-end_icon-3.png" alt=""></p>
				</div>
				<div class="Development">
					<p><img src="../../img/public-bot-logo.png" alt=""></p>
					<p><span>手游新疆</span><span>域名(www.shouyouxinjiang.com) 版权所有</span><span>新ICP备18001279号-1</span></p>
					<p><span>新公安网安备 65230102652521</span><span>新网文[2018]10409-11号</span><span>增值电信业务经营许可证:新B2-20180050
						</span></p>
				</div>
			</div>

		</footer>
</body>
<script src="../../js/jquery/jquery.js"></script>
<script src="../../js/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/swiper/swiper.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/specialty/speciality-details.js" type="text/javascript" charset="utf-8"></script>
<script>
	var lunboImgLength = 0;
	var categoryUuid = '';
	var storeUuid = '';
	var type = '';
	var nowPage = 1;
	(function () {
		//数据请求
		var skuNo = JSON.parse(sessionStorage.getItem('skuNo'));
		url = "http://www.shouyouxinjiang.com/front/productDetail";
		$.ajax({
			type: 'get',//类型
			url: url,//地址
			dataType: 'json',
			async: false,
			data: {
				skuNo: skuNo
			},
			//请求成功
			success: function (data) {
				var details = data.m;
				categoryUuid = details.categoryUuid;
				storeUuid = details.storeUuid
				// console.log(categoryUuid)
				console.log(details);




				//判断是否下架
				if (details.state == "2") {
					$(".Reserve").hide();
					$(".xiajia").show();
					$(".Collection").hide();
				} else {
					$(".Collection").show();
					$(".xiajia").hide()
					$(".Reserve").show()

				}
				//内容渲染
				$(".content_details_left_banner_title").html(details.productName);
				$(".big").attr("src", "http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/" + details.bigImageKey);
				$(".price").html(details.salePrice);
				$(".Grade").find("span").html(details.scenicLevel);
				$(".Market-price").find("b").html(details.marketPrice);
				$(".address").find("p").html(details.scenicAddress);
				$(".times_love").html(details.businessHours);
				$(".first_img").addClass("swiper-slide")
				$(".first_img").find("img").attr("src", "http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/" + details.bigImageKey);
				$(".m_b_33").html(details.desc);
				$(".tc").find("img").attr("src", "http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/" + details.bigImageKey);
				$(".Reservation_notes").html(details.prodAttrs)
				$(".r-img-box").find("img").attr("src", "http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/" + details.shopLogo);
				$(".company").find("span").html(details.storeName)
				var tick = data.m.selectAttrValues[0].values;
				var listStr = '';
				for (var i = 0; i < tick.length; i++) {
					listStr += `<span class="ticket" name="` + tick[i].valueUuid + `">` + tick[i].value + `</span> `;
					$(".ticket_type").html(listStr);
				}
				var productMultiImage = data.m.productMultiImage;
				// console.log(productMultiImage)
				var pic = '';
				lunboImgLength = productMultiImage.length + 1;
				for (var x = 0; x < productMultiImage.length; x++) {
					pic = `<div class="last_img swiper-slide"><img src="http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/` + productMultiImage[x].bigImageKey + `" alt=""
											class="top-left-img-con" />
									</div> `;
					$(".first_img").after(pic);
				}
				var productUuid = details.productUuid;
				$(".productUuid").val(productUuid)
				storeUuid = details.storeUuid;
				num(productUuid, storeUuid)
				look_hotel(storeUuid)
				pinglun()
				getFootprint()
				footprint(skuNo, productUuid)
			}
		})


	}())
	//添加浏览记录,登陆后方可添加
	function footprint(skuNo, productUuid) {
		$.post("http://www.shouyouxinjiang.com/product/detail/saveViewRecords",
			{
				"productUuid": productUuid,
				"skuNo": skuNo
			},
			function (data) {
				console.log(data)
			});
	}
	//获取浏览记录
	function getFootprint() {
		$.post("http://www.shouyouxinjiang.com/product/detail/getShowProductHistory",
			null,
			function (data) {
				console.log(data + "222222222222222222222222222222222222222222222222222")
			})
	}
	$(".ticket_type").find("span:last").addClass('ticket_true')
	$(".ticket_type").find("span").click(function () {
		$(this).siblings().removeClass("ticket_true")
		$(this).addClass("ticket_true");
		var skuUuid = $(this).attr("name");
		console.log(skuUuid)
		$.get("http://www.shouyouxinjiang.com/product/detail/getChooseAttr", {
			productUuid: $(".productUuid").val(),
			skuUuid
		},
			function (data) {
				var price = JSON.parse(data)
				console.log(price)
				$(".price").html(price.productDetailShowDTO.salePrice)
			})
	})
	$(".Reserve").hover(function () {
		$(this).css('background', '#ee5555')
	}, function () {
		$(this).css('background', '#ff5555')
	})
	$(".jingru").hover(function () {
		$(this).css('background', '#007bc2')
	}, function () {
		$(this).css('background', '#008ada')
	})
	$(".shoucang").hover(function () {
		$(this).css('background', '#008109')
	}, function () {
		$(this).css('background', '#00a60c')
	})
	$(".g-listbox-r-child").hover(function () {
		$(this).addClass("biankuang")
	}, function () {
		$(this).removeClass("biankuang")
	})
	$(".Recommended").find(".Recommended_Hotel").hover(function () {
		$(this).addClass("biankuang")
	}, function () {
		$(this).removeClass("biankuang")

	})
	//评价,购买数量,收藏数量
	function num(productUuid, storeUuid) {
		url = "http://www.shouyouxinjiang.com/product/detail/getProductStatistics";
		$.ajax({
			type: 'get',//类型
			url: url,//地址
			dataType: 'json',
			async: false,
			data: {
				productUuid: productUuid,
				storeUuid: storeUuid
			},
			//请求成功
			success: function (data) {
				// console.log(data.statistics);
				$(".num_tick").find("a").find("span:first").html(data.statistics.productAppraiseTotalNum);
				$(".num_tick").find("span:last").html(data.statistics.orderSkuPayTotalNum);
				$(".Collection").find("span").html(data.statistics.productCollectionTotalNum);
				$(".cffea00").html(data.statistics.productAppraiseTotalNum);
				$(".All_evaluation").find("span").html(data.statistics.productAppraiseTotalNum);
				$(".Praise").find("span").html(data.statistics.productGoodAppraiseTotalNum);
				$(".Chinese_commentary").find("span").html(data.statistics.productMiddleAppraiseTotalNum);
				$(".Negative_comment").find("span").html(data.statistics.productBadAppraiseTotalNum);
				$(".Drying_list").find("span").html(data.statistics.productShowOrderTotalNum);
				$(".describe").html(data.statistics.storeDescTotalScore);
				$(".attitude").html(data.statistics.storeServiceTotalScore);
				$(".Coincide").html(data.statistics.storeSpeedTotalScore);
				$(".score").html(data.statistics.storeDescTotalScore);
			}
		})
	}
	//推荐酒店(原本店同类)
	function look_hotel(storeUuid) {
		var lockUrl = "http://www.shouyouxinjiang.com/product/detail/getRecommendForStore";
		$.ajax({
			type: 'get',//类型
			url: lockUrl,//地址
			dataType: 'json',
			async: false,
			data: {
				storeUuid: storeUuid,
				categoryUuid
			},
			//请求成功
			success: function (data) {
				var hotel = data.recommendList;
				console.log(data.recommendList)
				var listStr = '';
				$(".paging").css("display", "block")
				for (var i = 0; i < hotel.length; i++) {
					listStr += `<div class="m_l_21">
										<div class="relative"> <img src="http://www.shouyouxinjiang.com/sysback/uploaddownloadFile/getFileByFileKey/`+ hotel[i].imageKey + `" alt=""
												class="bootom-img-f" /></div>
										<div class="flex m_t_15" style="width:202px;justify-content: space-between;">
											<div>
												<p class="bootom-img-p1 m_b_10">`+ hotel[i].productName + `</p>
												<p class="bootom-img-p m_b_10">销量23</p>
											</div>
											<div class="bootom-img-d">去看看</div>
										</div>
									</div>
                            `;
					$(".hotel").html(listStr)
				}


			}
		})
	}



	var mySwiper = new Swiper('.lunbo', {
		// loop : true,
		slidesPerView: 3,
		spaceBetween: 25,
		//spaceBetween : '10%',按container的百分比
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	})

	//图片点击选中
	$(".lunbo").on("click", "img", function () {
		var imgSrc = $(this).prop("src")
		// console.log(imgSrc)
		$(".big").attr("src", imgSrc);
		$(this).parent().siblings().find("img").removeClass("kuang")
		$(this).addClass("kuang")

	})
	$(".PL").on("click", "input[name=1]", function () {
		pinglun()
	})


	//获取评论字段
	function pinglun() {
		var Checked = $('input:radio[name="1"]:checked').prop("class");
		if (Checked == "All") {
			type = 0;
		} else if (Checked == "Good") {
			type = 1;

		} else if (Checked == "Chinese") {
			type = 2;
		} else if (Checked == "Bad") {
			type = 3;

		} else if (Checked == "Sun") {
			type = 4;
		}
		console.log(Checked)
		var lockUrl = "http://www.shouyouxinjiang.com/product/detail/getAppraise";
		$.ajax({
			type: 'get',//类型
			url: lockUrl,//地址
			dataType: 'json',
			async: false,
			data: {
				productUuid: $(".productUuid").val(),
				type: type,
				nowPage: nowPage,
				pageShow: 5
			},
			//请求成功
			success: function (data) {
				var ping = $('input:radio[name="1"]:checked').next().text();
				console.log(ping);
				var list = data.appraiseList;
				console.log(data.appraiseList);
				var listStr = '';
				if (Checked == "All") {
					$(".PL_content").html('<p style="text-align: center; margin-top:30px; color:#666; font-size:18px">暂无评论~</p>')
					if (list.length == 0) {
						$(".paging").css("display", "none")
					} else {
						$(".paging").css("display", "flex")
						for (var i = 0; i < list.length; i++) {
							listStr += `<div class="PL_list">
							<div class="comment-man">
													<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
													<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
													<span class="c999 f12">`+ list[i].customerName + `</span>
													<div class="inline-block m_l_10">
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
													</div>
													<span class="PL_time">`+ list[i].appraiseTime + `</span>
												</div>
												<div class="comment-content">`+ list[i].appraiseContent + `
										</div>
							</div>
					
										`;
							$(".PL_content").html(listStr)
						}
					}
				} else if (Checked == "Good") {
					$(".PL_content").html('<p style="text-align: center; margin-top:30px; color:#666; font-size:18px">暂无评论~</p>')
					if (list.length == 0) {
						$(".paging").css("display", "none")
					} else {
						$(".paging").css("display", "flex")
						for (var i = 0; i < list.length; i++) {
							listStr += `<div class="PL_list">
							<div class="comment-man">
													<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
													<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
													<span class="c999 f12">`+ list[i].customerName + `</span>
													<div class="inline-block m_l_10">
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
													</div>
													<span class="PL_time">`+ list[i].appraiseTime + `</span>
												</div>
												<div class="comment-content">`+ list[i].appraiseContent + `
										</div>
							</div>
					
										`;
							$(".PL_content").html(listStr)
						}
					}

				} else if (Checked == "Chinese") {
					$(".PL_content").html('<p style="text-align: center; margin-top:30px; color:#666; font-size:18px">暂无评论~</p>')
					if (list.length == 0) {
						$(".paging").css("display", "none")
					} else {
						$(".paging").css("display", "flex")
						for (var i = 0; i < list.length; i++) {
							listStr += `<div class="PL_list">
							<div class="comment-man">
													<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
													<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
													<span class="c999 f12">`+ list[i].customerName + `</span>
													<div class="inline-block m_l_10">
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
													</div>
													<span class="PL_time">`+ list[i].appraiseTime + `</span>
												</div>
												<div class="comment-content">`+ list[i].appraiseContent + `
										</div>
							</div>
					
										`;
							$(".PL_content").html(listStr)
						}
					}

				} else if (Checked == "Bad") {
					$(".PL_content").html('<p style="text-align: center; margin-top:30px; color:#666; font-size:18px">暂无评论~</p>')
					if (list.length == 0) {
						$(".paging").css("display", "none")
					} else {
						$(".paging").css("display", "flex")
						for (var i = 0; i < list.length; i++) {
							listStr += `<div class="PL_list">
							<div class="comment-man">
													<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
													<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
													<span class="c999 f12">`+ list[i].customerName + `</span>
													<div class="inline-block m_l_10">
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
													</div>
													<span class="PL_time">`+ list[i].appraiseTime + `</span>
												</div>
												<div class="comment-content">`+ list[i].appraiseContent + `
										</div>
							</div>
					
										`;
							$(".PL_content").html(listStr)
						}
					}


				} else if (Checked == "Sun") {
					$(".PL_content").html('<p style="text-align: center; margin-top:30px; color:#666; font-size:18px">暂无评论~</p>')
					if (list.length == 0) {
						$(".paging").css("display", "none")
					} else {
						$(".paging").css("display", "flex")
						for (var i = 0; i < list.length; i++) {
							listStr += `<div class="PL_list">
							<div class="comment-man">
													<img src="../../img/details/xq_con_icon_3.png" alt="" />&nbsp;&nbsp;
													<span class="c666 f12">好评</span>&nbsp;&nbsp;&nbsp;
													<span class="c999 f12">`+ list[i].customerName + `</span>
													<div class="inline-block m_l_10">
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
														<img src="../../img/list/lb_icon_xing.png" />
													</div>
													<span class="PL_time">`+ list[i].appraiseTime + `</span>
												</div>
												<div class="comment-content">`+ list[i].appraiseContent + `
										</div>
							</div>
					
										`;
							$(".PL_content").html(listStr)
						}
					}

				}

			}
		})
	}
	$(".xiajia").click(function () {
		alert("商品已下架!")
		// $(this).css("border","transparent")
	})
	$(".jingru").click(function () {
		sessionStorage.setItem('storeUuid', JSON.stringify(storeUuid));
		location.href = "../Line/Line_Shop_front_page.html?storeUuid=" + storeUuid;
	})
	var keyword = ''
	var startPrice = '';
	var endPrice = '';
	$("#storeKeyword").change(function () {
		var keyword = $("#storeKeyword").val();
	})
	$("#startPrice").change(function () {
		var keyword = $("#startPrice").val();
	})
	$("#endPrice").change(function () {
		var keyword = $("#endPrice").val();
	})
	function getProductInStore() {
		keyword = $("#storeKeyword").val(),
			startPrice = $("#startPrice").val(),
			endPrice = $("#endPrice").val()
		var search = {
			keyword: $("#storeKeyword").val(),
			startPrice: $("#startPrice").val(),
			endPrice: $("#endPrice").val()
		}
		console.log(search)
		sessionStorage.setItem('storeUuid', JSON.stringify(storeUuid));
		sessionStorage.setItem('search', JSON.stringify(search));
		location.href = "../Line/Line_shop_classification.html?storeUuid=" + storeUuid + "&keyword=" + keyword + "&startPrice=" + startPrice + "&endPrice=" + endPrice;
	}
</script>

</html>