.content_details .content_details_left {
    flex: 8;
    /* border: solid 1px #000; */
    margin-right: 30px;
    box-shadow: 0px 0px 0px #888888;
}
.content_details_left_Grade, .content_details_left_sort {
    box-shadow: 0px 0px 0px #888888;
}
    .search {
        width: 342px;
        /* flex: 0; */
    }

    .Fraction {
        padding: 0 10px;
        color: red;

    }

    .shop {
        margin-left: 31px;
        margin-right: 110px;
    }

    .shop_title {
        color: #fff;
        /* font-size: 12px; */
        margin-top: 11px;
        margin-bottom: 4px;
    }

    .shop_score {
        color: #d0d0d0;
        /* font-size: 10px; */
    }

    .goTO_shop {
        width: 63px;
        height: 20px;
        background: #fe6060;
        color: #fff;
        border: solid 1px transparent;
        margin-left: 10px;
        margin-top: -5px;
    }

    .Collection_shop {
        padding: 0 5px;
        margin-top: 10px;
        border: solid 1px #fff;
        color: #fff;
        background: #000;
    }

    .search input {
        font-size: 12px;
        color: #999999;
        border: solid 1px rgba(255, 255, 255, 0.2);
    }

    .Search {
        padding-left: 2px;
        text-align: center;
        line-height: 2.5;
        /* border: solid 1px rgba(255,255, 255, 0.2); */
    }

  

    .weizhi {
        width: 106px;
        height: 34px;
        color: #fff;
        border: solid 1px transparent;
    }

    .first {
        background: #fe6060;

    }

    .product {
        background: #6a7a94;
        margin-left: 5px;
    }
    .content_details_right{
        height: 880px;
    }
.content_details_left_sort {
    margin-top: 22px;
    margin-bottom: 22px;
}
.content_details_left_nav{
    background: #fff;
    height: 30px;
    line-height: 2.5;
}
.public_background {
    padding-top: 10px;
}
.Best_Sellers_list{
    width: 920px;
}
.Best_Sellers_list figure {
    cursor: pointer;
    width: 202px;
    display: block;
    padding: 0;
    background: #fff;
    margin: 20px;
    margin-bottom: 0;
    margin-left: 0px;
}
.content_details_left figure img {
    width: 301px;
    height: 226px;
    margin-right: 0px;
}
.Best_Sellers_list figure img {
    width: 202px;
    height: 150px;
}
.zhezhao {
    width: 202px;
    bottom: 69px;
}
/* .content_details_left figure{
    margin-left: 20px;
} */
.Scenic_price{
    display: flex;
}
.content_details_left_banner .Scenic_price font {
    font-size: 14px;
    margin-right: 0px;
}
.Best_Sellers_list {
        margin: 40px;
        width: 920px;
        background: #fff;
        margin: 0 auto;
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        
    }
    .content_details_left span {
    display: inline-block;
    /* color: #666; */
    width: 60px;
    height: 23px;
    margin-left: 10px;
    text-align: center;
}
    


    .Best_Sellers_list figure {
        margin-right: 20px;
        height: 190px;
        background: #fff;
        margin-top: 20px;
        width: 202px;
        position: relative;
    }
    .Best_Sellers_list figure:first-of-type{
        margin-left: 20px;
    }
  
    .Best_Sellers_list figure:nth-of-type(4n+1){
        margin-left: 26px;
    }
 
    .Best_Sellers_list figure img {
        width: 202px;
        height: 150px;
    }

    .Best_Sellers_list figure .rob {
        font-size: 12px;
        text-align: right;
        margin-left: 44px;
        color: #999999;
    }

    .Scenic_price {
        margin-top: 14px;
        text-align: left;
        margin-left: 10px;
    }

    .Scenic_price font {
        text-align: left;
        font-size: 14px;
    }

    .Scenic_price span {
        display: inline-block;
    }
  
    .zhezhao {
        position: absolute;
        color: #fff;
        font-size: 12px;
        bottom: 40px;
        height: 41px;
        background: rgb(0,0,0,0.4);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .zhezhao {
        padding: 0 10px;
        position: absolute;
        color: #fff;
        font-size: 12px;
        bottom: 40px;
        height: 41px;
        background: rgb(0,0,0,0.4);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        width: 182px;
    }
    .content_details_right_shop_list>figure {
        width: 224px;
        height: 170px;
        position: relative;
    }
    .content_details_right_shop_list>figure:nth-of-type(1)~figure:nth-of-type(3) {
        display: block;
    }
    .xiangsiZhezhao{
        font-size: 13px;
        background: rgba(0, 0, 0, 0.3);
        margin-left: 13px;
        line-height: 2;
        width: 204px;
        height: 30px;
        color: #fff;
        padding: 0 10px;
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    .content_details_left_sort{
        border-top: solid 1px #eaeaea;
        margin: 0;
    }
    .content_details_left_nav {
        background: #fff;
        height: 40px;
        line-height: 2.5;
    }
    .right_title{
        color: #008ada;
        font-size: 14px;
        border-bottom: solid 2px #008ada;
    }
    .content_details_left_nav >span{
        cursor: pointer;
        display: inline-block;
        /* color: #666; */
        width: 60px;
        height: 20px;
        margin-left: 10px;
        text-align: center;
    }